<!DOCTYPE html>
{% load static %}
<html lang="uz" class="no-js">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TATU &#8211; Samarqand &amp; filiali</title>

    <link rel='stylesheet' href="{% static 'users/plugins/goodlayers-core/plugins/combine/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'users/plugins/goodlayers-core/include/css/page-builder.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'users/plugins/revslider/public/assets/css/settings.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'users/css/style-core.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'users/css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'users/css/kingster-style-custom.css' %}" type='text/css' media='all' />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
   
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js samtuit-body samtuit-body-front samtuit-full  samtuit-with-sticky-navigation  samtuit-blockquote-style-1 gdlr-core-link-to-lightbox">
    
    
    <div class="samtuit-body-outer-wrapper ">
        <div class="samtuit-body-wrapper clearfix samtuit-with-frame">
            <div class="samtuit-top-bar">
                <div class="samtuit-top-bar-background"></div>
                <div class="samtuit-top-bar-container samtuit-container-fluid ">
                    <div class="samtuit-top-bar-container-inner clearfix">
                        <div class="samtuit-top-bar-left samtuit-item-pdlr center-iconc">
                            <a href="" title="Bayroq"><img class="top-bar-icon" src="{% static 'users/images/bayroq.png' %}" alt="bayroq" style="width: 28px; height: 20px;"></a>
                            <a href=""><img class="top-bar-icon" src="{% static 'users/images/gerib1.png' %}" alt="bayroq" style="width: 40px; height: 25px;"></a>
                            <a href=""><img class="top-bar-icon" src="{% static 'users/images/mucik2.png' %}" alt="bayroq" style="width: 30px; height: 30px;"></a>
                            &nbsp;&nbsp;
                            <i class="fa fa-envelope-open-o" id="i_fd84_0"></i>info@samtuit.uz
                            <i class="fa fa-phone" id="i_fd84_1"></i> +998 (66) 232 2929
                        </div>
                        <div class="samtuit-top-bar-right samtuit-item-pdlr">
                            <a href=""><img class="social-icon" src="{% static 'users/images/telegram.png' %}" alt="telegram" style="width: 25px; height: 22px;"></a>
                            <a href=""><img class="social-icon" src="{% static 'users/images/youtube.png' %}" alt="youtube" style="width: 22px; height: 22px;"></a>
                            <a href=""><img class="social-icon" src="{% static 'users/images/insto.png' %}" alt="insto" style="width: 23px; height: 23px;"></a>
                            <a href=""><img class="social-icon" src="{% static 'users/images/facebook1.png' %}" alt="facebook" style="width: 25px; height: 22px;"></a>

                            <a href="#" class="social-icon" title="adjust" id="toggle-black-white">
                                <i class="fa fa-adjust" ></i>
                            </a>
                            <a href="#" class="social-icon" title="adjust" id="toggle-yellow-black">
                                <i class="fa fa-adjust" style="color: rgb(255, 174, 0);" ></i>
                            </a>
                            <a href="#" class="social-icon" title="font" id="decrease-font">-
                                <i class="fa fa-font" ></i>
                            </a>
                            <a href="#" class="social-icon" title="font" id="decrease-font-pilus">+
                                <i class="fa fa-font"></i>
                            </a>
                            <div class="custom-select">
                                <div class="select-selected">
                                    <img src="{% static 'users/img-slider/uzb.png' %}" alt="O'zbek" class="flag-icon">
                                    O'zbek
                                </div>
                                <div class="select-items select-hide">
                                    <div data-value="1">
                                        <img src="{% static 'users/img-slider/uzb.png' %}" alt="O'zbek" class="flag-icon"> O'zbek
                                    </div>
                                    <div data-value="2">
                                        <img src="{% static 'users/img-slider/rus.png' %}" alt="Rus" class="flag-icon"> Rus
                                    </div>
                                    <div data-value="3">
                                        <img src="{% static 'users/img-slider/eng.png' %}" alt="English" class="flag-icon"> English
                                    </div>
                                </div>
                            </div>
                            <a class="samtuit-top-bar-right-button btn" id="qabul" href="" target="_blank">Qabul-2024</a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'users/base/navbar.html' %}
            {% include 'users/base/sidbare.html' %}
            {% block content %}
            {% endblock content %}
            
            {% include 'users/base/footer.html' %}
        </div>
    </div>
   {% include 'users/base/js.html' %}
</body>
</html>
