
{% for child in children %}
<li class="level2">
    <a href="{{ child.url }}" title="{{ child.title }}" class="level2 item-link">
        <span class="menu-title">{{ child.title }}</span>
    </a>
    {% if child.children %}
    <div class="level3 menu mega-content">
        <div class="mega-content-inner clearfix">
            <div class="mega-col first one">
                <ul class="subnavi level3">
                    {% include 'users/base/menu_recursive.html' with children=child.children %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</li>
{% endfor %}



