{% load static %}
{% load i18n %}
<header id="yt_header" class="block">
    <div class="container">
        <div class="row">
            <div id="top1" class="col-md-8 hidden-sm hidden-xs">

                <ul class="menu ">
                    <li class="item-1534" ><a href=""><img src="{% static 'users/images/ramzlar/uz.png' %}" alt="bayroq" style="width: 30px; height: 20px;"></a></li>
                    <li class="item-1535"><a href=""><img src="{% static 'users/images/ramzlar/gerb.png' %}" alt="gerb" style="width: 20px; height: 20px;"></a></li>
                    <li class="item-1536"><a href=""><img src="{% static 'users/images/ramzlar/nota.png' %}" alt="mathiya" style="width: 20px; height: 20px;"></a></li>
                    <li class="item-1531 deeper parent"><a href="">{{ menu_text.web_systems }}</a>
                        <ul class="yt-list">
                            <li class="item-1543"><a href="https://hemis.samtuit.uz/">{{ menu_text.hemis_teacher }}</a></li>
                            <li class="item-1544"><a href="https://student.samtuit.uz/" target="_blank">{{ menu_text.hemis_student }}</a></li>
                            <li class="item-1544"><a href="https://library.samtuit.uz/" target="_blank">{{ menu_text.library }}</a></li>
                        </ul>
                    </li>
                    <li class="item-1532"><a href="">{{ menu_text.admission }}</a></li>                    
                    <!-- <li class="item-1533"><a href="">Staff</a></li> -->
                </ul>

            </div>
            <div id="top2" class="col-md-4 ">
                <div class="module  me-eye ">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch telegram" data-toggle="modal" href="" title=""><i class="bi bi-telegram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module  me-eye ">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch facebook" data-toggle="modal" href="" title=""><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module  me-eye ">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch youtube" data-toggle="modal" href="" title=""><i class="bi bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="module  me-language  ">
                    <div class="modcontent clearfix">
                        <div class="mod-languages ">
                            <a class="dropdown-toggle">
                                {% if request.LANGUAGE_CODE == 'uz' %}
                                    <img src="{% static 'users/images/ramzlar/uzb_1.png' %}" alt="Uzbek" title="Uzbek" />
                                    Uzbek
                                {% elif request.LANGUAGE_CODE == 'en' %}
                                    <img src="{% static 'users/images/ramzlar/en.gif' %}" alt="English" title="English" />
                                    English
                                {% elif request.LANGUAGE_CODE == 'ru' %}
                                    <img src="{% static 'users/images/ramzlar/rus_1.png' %}" alt="Ruscha" title="Ruscha" />
                                    Русский
                                {% else %}
                                    <img src="{% static 'users/images/ramzlar/uzb_1.png' %}" alt="Uzbek" title="Uzbek" />
                                    Uzbek
                                {% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="-actilangve">
                                    <a href="{% url 'set_language' %}?lang=uz">
                                        <img src="{% static 'users/images/ramzlar/uzb_1.png' %}" alt="Uzbek "
                                            title="Uzbek "/> Uzbek </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'set_language' %}?lang=en">
                                        <img src="{% static 'users/images/ramzlar/en.gif' %}" alt="English"
                                            title="English" /> English </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'set_language' %}?lang=ru">
                                        <img src="{% static 'users/images/ramzlar/rus_1.png' %}" alt="Ruscha"
                                            title="Ruscha"/> Русский </a>
                                </li>
                            </ul>

                        </div>

                        <script type="text/javascript">
                            jQuery(document).ready(function($) {
                                var ua = navigator.userAgent,
                                    _device = (ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/iPod/i)) ? "smartphone" :
                                    "desktop";
                                if (_device == "desktop") {
                                    $(".mod-languages").bind('hover', function() {
                                        $(this).children(".dropdown-toggle").addClass(function() {
                                            if ($(this).hasClass("open")) {
                                                $(this).removeClass("open");
                                                return "";
                                            }
                                            return "open";
                                        });
                                        $(this).children(".dropdown-menu").slideToggle();
                                    });
                                } else {
                                    $('.mod-languages .dropdown-toggle').bind('touchstart', function() {
                                        $('.mod-languages .dropdown-menu').toggle();
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>

<nav id="yt_menuwrap" class="block">
    <div class="container-fluid">
        <div class="row">
            <div id="yt_logo" class="col-md-3 col-sm-12">

                <a class="logo" href="/" title="sj universityii">
                    <img data-placeholder="no" src="{% static 'users/templates/sj_university2/images/styling/default/univer_TATU.png' %}"
                        alt="sj universityii" style="width:246px;height:48px;" />
                </a>

            </div>
            <div id="yt_mainmenu" class="col-md-9 col-sm-12 ">
                <ul id="meganavigator" class="clearfix navi">
                    {% for menu in menus %}
                        <li class="level1 havechild">
                            <a href="" title="{{ menu.translated_title }}" class="level1 havechild item-link">
                                <span class="menu-title">{{ menu.translated_title }}</span>
                            </a>
                            {% if menu.children.exists %}
                                {% include "users/base/menu_recursive.html" with menu=menu.children.all %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <!-- <ul id="meganavigator" class="clearfix navi ">
                    
                    {% for menu in menus %}
                        <li class="level1 havechild ">
                            <a href="#" title="{{ menu.translated_title }}" class="level1 havechild item-link">
                                <span class="menu-title">{{ menu.translated_title }}</span>
                            </a>
                            {% if menu.children.exists %}
                            <div class="level2 menu mega-content">
                                <div class="mega-content-inner clearfix">
                                    <div class="mega-col first one">
                                        <ul class="subnavi level2">
                                            {% for child in menu.children.all %}
                                                {% if child.children.exists %}
                                                    <li class="level2 {% if forloop.first %}first{% endif %}">
                                                        <a title="{{ child.translated_title }}" class="level2 havechild  item-link"
														href="#"><span class="menu-title">{{ child.translated_title }}</span></a>
                                                    
                                                        <div class="level3 menu mega-content">
                                                            <div class="mega-content-inner clearfix">
                                                                <div class="mega-col first one">
                                                                    <ul class="subnavi level3">
                                                                        {% for chil in child.children.all %}
                                                                            <li class="level3 first ">
                                                                                <a title="{{ chil.translated_title }}" class="level3 first  item-link" href="{{ chil.url }}">
                                                                                    <span class="menu-title">{{ chil.translated_title }}</span>
                                                                                </a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <li class="level2 {% if forloop.first %}first{% endif %}">
                                                        <a title="{{ child.translated_title }}" class="level2 item-link" href="{{ child.url }}">
                                                            <span class="menu-title">{{ child.translated_title }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ul>
                 -->
                <script type="text/javascript">
                    jQuery(function($) {
                        $('#meganavigator').megamenu({
                            'wrap': '#yt_menuwrap .container',
                            'easing': 'easeInOutCirc',
                            'mm_timeout': '250',
                            'justify': 'left'
                        });
                    });
                </script>

                <div id="yt-responivemenu" class="yt-resmenu ">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed"
                        type="button">
                        <i class="fa fa-bars"></i> Menu </button>
                    <div id="resmenu_sidebar" class="nav-collapse collapse">
                        <ul class="nav resmenu">
                            {% for menu in menus %}
                            <li class="haveChild level1">
                                <a title="{{ menu.translated_title }}" href=''>{{ menu.translated_title }}</a> 
                                <span class="menuress-toggle"></span>
                                {% if menu.children.exists %}
                                <div class="res-wrapnav">
                                    <ul class="nav">
                                        {% for child in menu.children.all %}
                                        <li><a title="{{ child.translated_title }}" href='{{ child.url }}'>{{ child.translated_title }}</a> </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $('.btn-navbar').click(function() {
                            $(this).children().toggleClass('fa-times');
                        });
                        $("ul.resmenu li.haveChild").each(function() {
                            $(this).children(".res-wrapnav").css('display', 'none');
                            var ua = navigator.userAgent,
                                event = (ua.match(/iPad/i)) ? "touchstart" : "click";
                            $(this).children(".menuress-toggle").bind(event, function() {
                                $(this).siblings(".res-wrapnav").slideDown(350);
                                $(this).parent().siblings("li").children(".res-wrapnav").slideUp(350);
                                $(this).parent().siblings("li").removeClass("active");
                                $(this).parent().addClass(function() {
                                    if ($(this).hasClass("active")) {
                                        $(this).removeClass("active");
                                        $(this).children(".res-wrapnav").slideToggle();
                                        return "";
                                    }
                                    return "active";
                                });
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>

</nav>
