{% load static %}
{% load i18n %} 

<header id="yt_header" class="block">
    <div class="container">
        <div class="row">
            <div id="top1" class="col-md-8 hidden-sm hidden-xs">
                <ul class="menu ">
                    <li class="item-1534" ><a href="https://lex.uz/acts/-100122" title="O‘zbekiston Respublikasi Davlat bayrog‘i" target="_blank"><img src="{% static 'users/images/ramzlar/uz.png' %}" alt="bayroq" style="width: 30px; height: 20px;"></a></li>
                    <li class="item-1535"><a href="https://lex.uz/acts/-17260" title="O‘zbekiston Respublikasi Davlat gerbi" target="_blank"><img src="{% static 'users/images/ramzlar/gerb.png' %}" alt="gerb" style="width: 20px; height: 20px;"></a></li>
                    <li class="item-1536"><a href="https://lex.uz/acts/-38608" title="O‘zbekiston Respublikasi Davlat madhiyasi" target="_blank"><img src="{% static 'users/images/ramzlar/nota1.png' %}" alt="mathiya" style="width: 30px; height: 30px;"></a></li>
                    <li class="item-1531 deeper parent"><a href="">{{ menu_text.web_systems }}</a>
                        <ul class="yt-list">
                            <li class="item-1543"><a href="https://hemis.samtuit.uz/" target="_blank">{{ menu_text.hemis_teacher }}</a></li>
                            <li class="item-1544"><a href="https://student.samtuit.uz/" target="_blank">{{ menu_text.hemis_student }}</a></li>
                            <li class="item-1544"><a href="https://student-elms.samtuit.uz/" target="_blank">LMS</a></li>
                            <li class="item-1544"><a href="https://library.samtuit.uz/" target="_blank">{{ menu_text.library }}</a></li>
                        </ul>
                    </li>
                    <li class="item-1532"><a href="https://samtuit.uz/uz/page/qabul-2024-2025-05-06-2025">{{ menu_text.admission }}</a></li>
                </ul>
            </div>
            
            <div id="top2" class="col-md-4">
                <div class="module me-eye visible-xs visible-sm">
                    <ul class="menu">
                        <li class="item"><a href="https://samtuit.uz/uz/page/qabul-2024-2025-05-06-2025">{{ menu_text.admission }}</a></li>
                    </ul>
                </div>
                <div class="module me-eye visible-xs visible-sm">
                    <ul class="menu">
                        <li class="item deeper parent"><a href="">{{ menu_text.registration }}</a>
                        </li>
                    </ul>
                </div>
                <div class="module me-eye hidden-sm hidden-xs">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch facebook" href="{% url 'site_map' %}" title="Xarita"><i class="fa-solid fa-sitemap"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module me-eye hidden-sm hidden-xs">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch facebook" target="_blank" href="https://www.facebook.com/sbtuit" title="Facebook"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module me-eye hidden-sm hidden-xs">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch youtube" target="_blank" href="https://youtube.com/@samarkandbranchoftuit2358?si=iUgr7IgoYnPOUqrz" title="Youtube"><i class="bi bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module me-eye hidden-sm hidden-xs">
                    <div class="modcontent clearfix">
                        <div class="yt-loginform">
                            <div class="yt-login">
                                <a class="eye-switch telegram" target="_blank" href="https://t.me/sbtuit2005" title="Telegram"><i class="bi bi-telegram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="module me-language">
                    <div class="modcontent clearfix">
                        <div class="mod-languages ">
                            <a class="dropdown-toggle">
                                {% if language == 'uz' %}
                                    <img src="{% static 'users/images/ramzlar/uzb_1.png' %}" alt="Uzbek" title="Uzbek" />
                                    Uzbek
                                {% elif language == 'en' %}
                                    <img src="{% static 'users/images/ramzlar/en.gif' %}" alt="English" title="English" />
                                    English
                                {% elif language == 'ru' %}
                                    <img src="{% static 'users/images/ramzlar/rus_1.png' %}" alt="Ruscha" title="Ruscha" />
                                    Русский
                                {% else %}
                                    <img src="{% static 'users/images/ramzlar/uzb_1.png' %}" alt="Uzbek" title="Uzbek" />
                                    Uzbek
                                {% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="actilangve">
                                    <a href="{% url 'set_language' %}?lang=uz">
                                        <img src="{% static 'users/images/ramzlar/uzb_1.png' %}" alt="Uzbek "
                                            title="Uzbek "/> Uzbek </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'set_language' %}?lang=en">
                                        <img src="{% static 'users/images/ramzlar/en.gif' %}" alt="English"
                                            title="English" /> English </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'set_language' %}?lang=ru">
                                        <img src="{% static 'users/images/ramzlar/rus_1.png' %}" alt="Ruscha"
                                            title="Ruscha"/> Русский </a>
                                </li>
                            </ul>
                        </div>

                        <script type="text/javascript">
                            jQuery(document).ready(function($) {
                                var ua = navigator.userAgent,
                                    _device = (ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/iPod/i)) ? "smartphone" :
                                    "desktop";
                                if (_device == "desktop") {
                                    $(".mod-languages").bind('hover', function() {
                                        $(this).children(".dropdown-toggle").addClass(function() {
                                            if ($(this).hasClass("open")) {
                                                $(this).removeClass("open");
                                                return "";
                                            }
                                            return "open";
                                        });
                                        $(this).children(".dropdown-menu").slideToggle();
                                    });
                                } else {
                                    $('.mod-languages .dropdown-toggle').bind('touchstart', function() {
                                        $('.mod-languages .dropdown-menu').toggle();
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>

<nav id="yt_menuwrap" class="block">
    <div class="container">
        <div class="row"> 
            <div id="yt_logo" class="col-md-3 col-sm-12">
                <div class="row">
                    <a class="" href="/" title="Muhammad al-Xorazmiy nomidagi Toshkent Axborot Texnologiyalari Universiteti Samarqand filiali">
                        {% if language == 'uz' %}
                        <img data-placeholder="no" src="{% static 'users/templates/sj_university2/images/styling/default/2.png' %}" alt="sj universityii" height="100" width="300"/>
                        {% elif language == 'en' %}
                        <img data-placeholder="no" src="{% static 'users/templates/sj_university2/images/styling/default/2_eng.png' %}" alt="sj universityii" height="100" width="300"/>
                        {% elif language == 'ru' %}
                        <img data-placeholder="no" src="{% static 'users/templates/sj_university2/images/styling/default/2_rus.png' %}" alt="sj universityii" height="100" width="300"/>
                        {% else %}
                        <img data-placeholder="no" src="{% static 'users/templates/sj_university2/images/styling/default/2.png' %}" alt="sj universityii" height="100" width="300"/>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div id="yt_mainmenu" class="col-md-9 col-sm-12" >

                <ul id="meganavigator" class="clearfix navi ">
                    {% for menu in menus %}
                    <li class="level1 havechild">
                        <a title="{{ menu.title }}" class="level1 havechild item-link" href="{% if menu.url %}{{ menu.url }}{% endif %}">
                            <span class="menu-title">{{ menu.title }}</span>
                            <!-- {% if menu.children %}
                                <i class="fa fa-angle-down dropdown-arrow"></i>
                            {% endif %} -->
                        </a>
                        {% if menu.children %}
                        <div class="level2 menu mega-content">
                            <div class="mega-content-inner clearfix">
                                <div class="mega-col first one">
                                    <ul class="subnavi level2">
                                        {% for child in menu.children %}
                                        <li class="level2 first havechild">
                                            <a title="{{ child.title }}" class="level2 first item-link" href="{% if child.url %}{{ child.url }}{% endif %}">
                                                <span class="menu-title">{{ child.title }}</span>
                                                {% if child.children %}
                                                    <i class="fa fa-angle-right dropdown-arrow"></i>
                                                {% endif %}
                                            </a>
                                            {% if child.children %}
                                            <div class="level3 menu mega-content">
                                                <div class="mega-content-inner clearfix">
                                                    <div class="mega-col first one">
                                                        <ul class="subnavi level3">
                                                            {% for subchild in child.children %}
                                                            <li class="level3 first havechild">
                                                                <a title="{{ subchild.title }}" class="level3 first item-link" href="{% if subchild.url %}{{ subchild.url }}{% endif %}">
                                                                    <span class="menu-title">{{ subchild.title }}</span>
                                                                    {% if subchild.children %}
                                                                        <i class="fa fa-angle-right dropdown-arrow"></i>
                                                                    {% endif %}
                                                                </a>
                                                                {% if subchild.children %}
                                                                <div class="level4 menu mega-content">
                                                                    <div class="mega-content-inner clearfix">
                                                                        <div class="mega-col first one">
                                                                            <ul class="subnavi level4">
                                                                                {% for sub in subchild.children %}
                                                                                <li class="level4 first">
                                                                                    <a title="{{sub.title}}" class="level4 first item-link" href="{% if sub.url %}{{ sub.url }}{% endif %}">
                                                                                        <span class="menu-title">{{sub.title}}</span>
                                                                                    </a>
                                                                                </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div> 
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>


                <script type="text/javascript">
                    jQuery(function($) {
                        $('#meganavigator').megamenu({
                            'wrap': '#yt_menuwrap .container',
                            'easing': 'easeInOutCirc',
                            'mm_timeout': '250',
                            'justify': 'left'
                        });
                    });
                </script>

                <div id="yt-responivemenu" class="yt-resmenu ">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed" type="button"><i class="fa fa-bars"></i> Menu </button>
                    <div id="resmenu_sidebar" class="nav-collapse collapse">
                        <ul class="nav resmenu">
                            {% for menu in menus %}
                            <li class="haveChild level1">
                                <a title="{{ menu.translated_title }}" href=''>{{ menu.title }}</a> 
                                <span class="menuress-toggle"></span>
                                {% if menu.children %}
                                <div class="res-wrapnav">
                                    <ul class="nav">
                                        {% for child in menu.children %}
                                        <li class="haveChild level2">
                                            <a title="{{ child.title }}" href='{{ child.url }}'>{{ child.title }}</a> 
                                            <span class="menuress-toggle"></span>
                                            {% if child.children %}
                                            <div class="res-wrapnav">
                                                <ul class="nav">
                                                    {% for subchild in child.children %}
                                                        <li class="haveChild level3">
                                                            <a title="{{ subchild.title }}" href='{{ subchild.url }}'>{{ subchild.title }}</a> 
                                                            <span class="menuress-toggle"></span>
                                                            {% if child.children %}
                                                            <div class="res-wrapnav">
                                                                <ul class="nav">
                                                                    {% for sub in subchild.children %}
                                                                    <li>
                                                                        <a title="{{ sub.title }}" href='{{ sub.url }}'>{{ sub.title }}</a> 
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $('.btn-navbar').click(function() {
                            $(this).children().toggleClass('fa-times');
                        });
                        $("ul.resmenu li.haveChild").each(function() {
                            $(this).children(".res-wrapnav").css('display', 'none');
                            var ua = navigator.userAgent,
                                event = (ua.match(/iPad/i)) ? "touchstart" : "click";
                            $(this).children(".menuress-toggle").bind(event, function() {
                                $(this).siblings(".res-wrapnav").slideDown(350);
                                $(this).parent().siblings("li").children(".res-wrapnav").slideUp(350);
                                $(this).parent().siblings("li").removeClass("active");
                                $(this).parent().addClass(function() {
                                    if ($(this).hasClass("active")) {
                                        $(this).removeClass("active");
                                        $(this).children(".res-wrapnav").slideToggle();
                                        return "";
                                    }
                                    return "active";
                                });
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>

</nav>

