{% load static %}

<section id="yt_spotlight7" class="block">
    <div class="container">
        <div class="row">
            <div id="top11" class="col-md-9 col-sm-12">

                <div class="module  newsletter ">
                    <h3 class="modtitle">Subscribe Our Newsletter</h3>
                    <div class="modcontent clearfix">
                        <div class="acymailing_module newsletter" id="acymailing_module_formAcymailing72291">
                            <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72291">
                                <form id="formAcymailing72291"
                                    action=""
                                    onsubmit="return submitacymailingform('optin','formAcymailing72291')"
                                    method="post" name="formAcymailing72291">
                                    <div class="acymailing_module_form">
                                        <table class="acymailing_form">
                                            <tr>
                                                <td class="acyfield_email acy_requiredField">
                                                    <input id="user_email_formAcymailing72291"
                                                        onfocus="if(this.value == 'Enter your email') this.value = '';"
                                                        onblur="if(this.value=='') this.value='Enter your email';"
                                                        class="inputbox" type="text" name="user[email]"
                                                        style="width:100%" value="Enter your email"
                                                        title="Enter your email" />
                                                </td>

                                                <td class="acysubbuttons">
                                                    <input class="button subbutton btn btn-primary"
                                                        type="submit" value="Submit Now" name="Submit"
                                                        onclick="try{ return submitacymailingform('optin','formAcymailing72291'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="hidden" name="ajax" value="0" />
                                        <input type="hidden" name="ctrl" value="sub" />
                                        <input type="hidden" name="task" value="notask" />
                                        <input type="hidden" name="redirect"
                                            value="https%3A%2F%2Fdemo.smartaddons.com%2Ftemplates%2Fjoomla3%2Fsj-universityii%2F" />
                                        <input type="hidden" name="redirectunsub"
                                            value="https%3A%2F%2Fdemo.smartaddons.com%2Ftemplates%2Fjoomla3%2Fsj-universityii%2F" />
                                        <input type="hidden" name="option" value="com_acymailing" />
                                        <input type="hidden" name="hiddenlists" value="1" />
                                        <input type="hidden" name="acyformname" value="formAcymailing72291" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="top12" class="col-md-3 col-sm-12">

                <div class="module  social-icon ">
                    <div class="modcontent clearfix">

                        <div class="list-icon">
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb rss default   color" title="Rss" href="#"><i
                                        class="fa fa-rss"></i></a></div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb facebook default   color" title="Facebook"
                                    href="http://www.facebook.com/"><i
                                        class="fa fa-facebook"></i></a></div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb twitter default   color" title="Twitter"
                                    href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb google-plus default   color" title="Google-Plus"
                                    href="https://plus.google.com/"><i
                                        class="fa fa-google-plus"></i></a></div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb linkedin default   color" title="Linkedin"
                                    href="http://www.linkedin.com/"><i
                                        class="fa fa-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<section id="yt_spotlight8" class="block">
    <div class="container">
        <div class="row">
            <div id="bottom1" class="col-md-3 col-sm-6">

                <div class="module  ">
                    <div class="modcontent clearfix">

                        <div><img src="{% static 'users/images/sj_univer/demo/1.png' %}" alt="" /></div>
                    </div>
                </div>

            </div>
            <div id="bottom2" class="col-md-3 col-sm-6">

                <div class="module  get-in-touch ">
                    <h3 class="modtitle">Get In Touch</h3>
                    <div class="modcontent clearfix">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <ul>
                            <li><span class="lea">Add:</span> Lafayette has a great customer service</li>
                            <li><span class="lea">Tel:</span> 02 8000 11 800</li>
                            <li><span class="lea">Email:</span> university@gmail.com</li>
                            <li><span class="lea">Hotline</span>: 647-507-1376</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div id="bottom3" class="col-md-2 col-sm-6">

                <div class="module  useful-link ">
                    <h3 class="modtitle">Useful Link</h3>
                    <div class="modcontent clearfix">

                        <ul class="menu ">
                            <li class="item-1537"><a href="">Themes Feature</a></li>
                            <li class="item-1538"><a href="">Falcuty</a></li>
                            <li class="item-1539"><a href="">Staff</a></li>
                            <li class="item-1540"><a href="">Student</a></li>
                            <li class="item-1541"><a href="">Parents</a></li>
                            <li class="item-1542"><a href="">Visitors</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div id="bottom4" class="col-md-4 col-sm-6">

                <div class="module  clients-say ">
                    <h3 class="modtitle">Clients Say About Us</h3>
                    <div class="modcontent clearfix">

                        <div class="carousel-custommer">
                            <div id="yt-extra-carousel" style="width:100%; height:100%"
                                class="yt-extra-carousel carousel slide pull-center" data-ride="carousel"
                                data-interval='false'>
                                <div class="carousel-inner">
                                    <div class='item'>
                                        <div class="customslider">
                                            <div class="item-image"><img src="{% static 'users/images/demo/customer1.png' %}"
                                                    alt="" />
                                                <div class="over-image"> </div>
                                            </div>
                                            <div class="content-main">
                                                <p class="post-commnets">“Harum congue adipisci nostrum laborum
                                                    luctus nibh, nihil malesuada modi! Voluptate, eleifend!
                                                    Excepturi mattis”</p>
                                                <h3 class="title"><span class="use">Jillian Aenean</span> -
                                                    Student</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='item'>
                                        <div class="customslider">
                                            <div class="item-image"><img src="{% static 'users/images/demo/customer2.png' %}"
                                                    alt="" />
                                                <div class="over-image"> </div>
                                            </div>
                                            <div class="content-main">
                                                <p class="post-commnets">“Harum congue adipisci nostrum laborum
                                                    luctus nibh, nihil malesuada modi! Voluptate, eleifend!
                                                    Excepturi mattis”</p>
                                                <h3 class="title"><span class="use">Eker Gilmore</span> -
                                                    Student</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='item'>
                                        <div class="customslider">
                                            <div class="item-image"><img src="{% static 'users/images/demo/customer3.png' %}"
                                                    alt="" />
                                                <div class="over-image"> </div>
                                            </div>
                                            <div class="content-main">
                                                <p class="post-commnets">“Harum congue adipisci nostrum laborum
                                                    luctus nibh, nihil malesuada modi! Voluptate, eleifend!
                                                    Excepturi mattis”</p>
                                                <h3 class="title"><span class="use">Jillian Gilmore</span> -
                                                    Student</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div><a class="carousel-control left" href="#yt-extra-carousel"
                                    data-slide="prev"><i class="fa fa-angle-left"></i></a><a
                                    class="carousel-control right" href="#yt-extra-carousel"
                                    data-slide="next"><i class="fa fa-angle-right"></i></a>
                                <ol class="carousel-indicators">
                                    <li data-slide-to="0" data-target="#yt-extra-carousel"></li>
                                    <li data-slide-to="1" data-target="#yt-extra-carousel"></li>
                                    <li data-slide-to="2" data-target="#yt-extra-carousel"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<footer id="yt_footer" class="block">
    <div class="container">
        <div class="row">
            <div id="yt_copyright" class="col-sm-12">

                <div class="copyright">
                    Copyright © 2024 SJ University II. All Rights Reserved </div>

                <div class="designby ">
                    Designed by <a target="_blank" title="Visit SmartAddons!"
                        href="">SmartAddons.Com</a>
                </div>

                <div class="powered-by"><a href="">Joomla!</a> is Free Software released
                    under the <a href="">GNU General Public License.</a>
                </div>

            </div>
        </div>
    </div>

</footer>
<div id="yt_sticky_right" class="yt-slidePanel hidden-sm hidden-xs">
    <div class="yt-sticky">

        <div class="module ">
            <span class="btn-special" title="Ko'rish Sozlamalari"><span class="fa fa-eye"></span></span>
            <div class="box-special">
                <h3>Fon sozlamalari</h3>
                <div class="clearfix">
                    <a href="" id="toggle-black-white" class="btn btn-info"><i class="bi bi-circle-fill" style="color: black;"></i><br>Qora</a>
                    <a href="" id="toggle-original" class="btn btn-info"><i class="bi bi-circle-half"></i><br>Start</a>
                    <a href="" id="toggle-yellow-black" class="btn btn-info"><i class="bi bi-circle" style="color: rgb(255, 136, 0);"></i><br>Sariq</a>
                </div> <hr>
                <h3>Shirft sozlamalari</h3>
                <div class="clearfix">
                    <a href="#" id="small-text" class="btn btn-primary btn-sm">A</a>
                    <a href="#" id="normal-text" class="btn btn-primary btn-lx">A</a>
                    <a href="#" id="large-text" class="btn btn-primary btn-lg">A</a>
                </div>
            </div>
        </div>

        <div class="module ">
            <span class="btn-special" title="Maxsus holatda modulni sozlash uchun"><span
                    class="fa fa-info"></span></span>
            <div class="box-special">
                <h3>For customize module in special position</h3>
                <div class="clearfix">

                    <p>The solution is using Module Class Suffix. You can customize button, module content
                        follow Module Class Suffix</p>
                    <p>E.g. Module Class Suffix: @<strong>bullhorn</strong> then:<br />- Class of button is
                        'fa-<strong>bullhorn</strong>'<strong>. </strong>If without @<strong>... </strong>the
                        default is 'fa-pushpin'</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        var events = 'click';
        YTScript.slidePositions('#yt_sticky_right .yt-sticky', 'right', events);
    });
</script>

<a id="yt-totop" class="backtotop" href="#"><i class="fa fa-angle-up"></i> Yuqori </a>
<script type="text/javascript">
    jQuery('.backtotop').click(function() {
        jQuery('body,html').animate({
            scrollTop: 0
        }, 1200);
        return false;
    });
</script>

<div id="cpanel_wrapper" style="direction:ltr" class="hidden-sm hidden-xs">
    <div class="accordion" id="ytcpanel_accordion">
        <div class="cpanel-head">
            Sozlamalar
            <div class="cpanel-reset">
                <a class="btn btn-info" href="#" onclick="javascript: onCPResetDefault(TMPL_COOKIE);"><i
                        class="fa fa-refresh fa-spin"></i> Qayta tiklash</a>
            </div>
        </div>

        <!--Body-->
        <div class="cpanel-theme">

            <!-- Style Color -->
            <div class="panel-group">
                <h4 class="panel-heading">Mavzu ranglari</h4>

                <div class="panel-theme-color">
                    <span data-placement="top" title="Standart" class="theme-color default active">Standart</span>
                    <span data-placement="top" title="Moviy" class="theme-color cyan">Moviy</span>
                    <span data-placement="top" title="Qizil" class="theme-color red">Qizil</span>
                    <span data-placement="top" title="Yashil" class="theme-color green">Yashil</span>
                    <span data-placement="top" title="Sariq" class="theme-color carot">Sariq</span>
                    <span data-placement="top" title="Binafsha" class="theme-color violet">Binafsha</span>

                </div>
            </div>

            <!-- Layouts -->
            <div class="panel-group ">
                <h4 class="panel-heading">Tartib</h4>
                <!-- Layout Style -->
                <div class="panel-layout typeLayout">
                    <span data-value="layout-wide" class="layout-item btn  active">Keng</span>
                    <span data-value="layout-boxed" class="layout-item btn ">Qutili</span>
                    <span data-value="layout-framed" class="layout-item btn ">Ramkali</span>
                    <span data-value="layout-rounded" class="layout-item btn ">Dumaloq</span>
                </div>
            </div>

            <div class="panel-group nomarginbottom">
                <div class="panel-desc" style="margin:10px 0 3px;"> Joylashtirish uchun naqshlar: qutili, ramkali, yumaloq
                </div>
                <div class="body-bg">
                    <a href="#" data-placement="top" title="naqsh 1" class="pattern pattern1">naqsh 1</a>
                    <a href="#" data-placement="top" title="naqsh 2" class="pattern pattern2">naqsh 2</a>
                    <a href="#" data-placement="top" title="naqsh 3" class="pattern pattern3">naqsh 3</a>
                    <a href="#" data-placement="top" title="naqsh 4" class="pattern pattern4">naqsh 4</a>
                    <a href="#" data-placement="top" title="naqsh 5" class="pattern pattern5">naqsh 5</a>
                    <a href="#" data-placement="top" title="naqsh 6" class="pattern pattern6">naqsh 6</a>
                    <a href="#" data-placement="top" title="naqsh 7" class="pattern pattern7">naqsh 7</a>
                    <a href="#" data-placement="top" title="naqsh 8" class="pattern pattern8">naqsh 8</a>
                </div>
                <input type="hidden" name="ytcpanel_bgimage" value="" />

            </div>

        </div>

    </div>

    <div id="cpanel_btn" class="isDown">
        <i class="fa fa-wrench"></i>
    </div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        patternClick('.body-bg .pattern', 'bgimage', Array('#bd'));
        var array = Array('bgimage');
        var array_default = Array('pattern8');
        var array_cyan = Array('pattern8');
        var array_red = Array('pattern8');
        var array_green = Array('pattern8');
        var array_carot = Array('pattern8');
        var array_violet = Array('pattern8');
        //default
        $('.theme-color.default').click(function() {
            $($(this).parent().find('.active')).removeClass('active');
            $(this).addClass('active');
            createCookie(TMPL_NAME + '_' + 'themecolor', $(this).html().toLowerCase(), 365);
            setCpanelValues(array_default);
            onCPApply();
        });
        //1.Color Cyan
        $('.theme-color.cyan').click(function() {
            $($(this).parent().find('.active')).removeClass('active');
            $(this).addClass('active');
            createCookie(TMPL_NAME + '_' + 'themecolor', $(this).html().toLowerCase(), 365);
            setCpanelValues(array_cyan);
            onCPApply();
        });
        //2.Color Red
        $('.theme-color.red').click(function() {
            $($(this).parent().find('.active')).removeClass('active');
            $(this).addClass('active');
            createCookie(TMPL_NAME + '_' + 'themecolor', $(this).html().toLowerCase(), 365);
            setCpanelValues(array_red);
            onCPApply();
        });
        //3.Color Green
        $('.theme-color.green').click(function() {
            $($(this).parent().find('.active')).removeClass('active');
            $(this).addClass('active');
            createCookie(TMPL_NAME + '_' + 'themecolor', $(this).html().toLowerCase(), 365);
            setCpanelValues(array_green);
            onCPApply();
        });
        //4.Color Carot
        $('.theme-color.carot').click(function() {
            $($(this).parent().find('.active')).removeClass('active');
            $(this).addClass('active');
            createCookie(TMPL_NAME + '_' + 'themecolor', $(this).html().toLowerCase(), 365);
            setCpanelValues(array_carot);
            onCPApply();
        });
        //5.Color Violet
        $('.theme-color.violet').click(function() {
            $($(this).parent().find('.active')).removeClass('active');
            $(this).addClass('active');
            createCookie(TMPL_NAME + '_' + 'themecolor', $(this).html().toLowerCase(), 365);
            setCpanelValues(array_violet);
            onCPApply();
        });
        /* miniColorsCPanel */
        function miniColorsCPanel(elC, elT, selector) {
            $(elC).miniColors({
                change: function(hex, rgb) {
                    if (typeof(elT) != 'string') {
                        for (i = 0; i < elT.length; i++) {
                            $(elT[i]).css(selector, hex);
                        }
                    } else {
                        $(elT).css(selector, hex);
                    }
                    createCookie(TMPL_NAME + '_' + ($(this).attr('name').match(/^ytcpanel_(.*)$/))[
                        1], hex, 365);
                }
            });
        }
        /* Begin: Set click pattern */
        function patternClick(elC, paramCookie, elT) {
            $(elC).click(function() {
                oldvalue = $(this).parent().find('.active').html();
                $(elC).removeClass('active');
                $(this).addClass('active');
                value = $(this).html();
                if (elT.length > 0) {
                    for ($i = 0; $i < elT.length; $i++) {
                        $(elT[$i]).removeClass(oldvalue);
                        $(elT[$i]).addClass(value);
                    }
                }
                if (paramCookie) {
                    $('input[name$="ytcpanel_' + paramCookie + '"]').attr('value', value);
                    createCookie(TMPL_NAME + '_' + paramCookie, value, 365);
                }
            });
        }

        function setCpanelValues(array) {
            // Remove the # from the hash, as different browsers may or may not include it
            // append /remove anchor name from current url without refresh
            if (array['0']) {
                $('.body-backgroud-image .pattern').removeClass('active');
                $('.body-backgroud-image .pattern.' + array['3']).addClass('active');
                $('input[name$="ytcpanel_bgimage"]').attr('value', array['3']);
            }
        }
    });
</script>