{% load static %}

<section id="yt_spotlight7" class="block">
    <div class="container">
        <div class="row">
            
            <div id="top12" class="col-md-12 col-sm-12">

                <div class="module  social-icon ">
                    <div class="modcontent clearfix">

                        <div class="list-icon">
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb rss default   color" title="Rss" href="#"><i
                                        class="fa fa-rss"></i></a></div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb facebook default   color" title="Facebook"
                                    href="http://www.facebook.com/"><i
                                        class="fa fa-facebook"></i></a></div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb twitter default   color" title="Twitter"
                                    href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb google-plus default   color" title="Google-Plus"
                                    href="https://plus.google.com/"><i
                                        class="fa fa-google"></i></a></div>
                            <div class="yt-socialbt"><a data-placement="top" target="_blank"
                                    class="sb linkedin default   color" title="Linkedin"
                                    href="http://www.linkedin.com/"><i
                                        class="fa fa-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section id="yt_spotlight8" class="block">
    <div class="container">
        <div class="row">
            <div id="bottom2" class="col-md-4 col-sm-6">

                <div class="module  get-in-touch ">
                    <h3 class="modtitle">Aloqa</h3>
                    <div class="modcontent clearfix">

                        <p>Muhammad al-Xorazmiy nomidagi Toshkent Axborot Texnologiyalari Universiteti Samarqand filiali</p>
                        <ul>
                            <li><span class="lea">Add:</span>Samarqand shahar Ibn Sino ko'chasi 2 A uy</li>
                            <li><span class="lea">Tel:</span> +998 (66) 232 2929</li>
                            <li><span class="lea">Email:</span> info@samtuit.uz</li>
                            <li><span class="lea">Ishonch telefoni</span>: +998 66 232 20 37</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div id="bottom3" class="col-md-3 col-sm-6">
                <div class="module  useful-link">
                    <h3 class="modtitle">{{menu_text.quick_menus}}</h3>
                    <div class="modcontent clearfix">
                        <ul class="menu ">
                            {% for quick in quickmmenu %}
                            <li class="item-1537"><a href="{{quick.url}}">{{quick.translated_title}}</a></li>  
                            {% endfor %}           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="module  get-in-touch ">
                    <h3 class="modtitle">Xarita</h3>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1773.860846388476!2d66.98123068663902!3d39.67934908334424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d188e87ff9341%3A0xc519336839ee6ba7!2zVEFUVSBTYW1hcmthbmQsIFNhbWFycWFuZCwg0KPQt9Cx0LXQutC40YHRgtCw0L0!5e0!3m2!1sru!2s!4v1624598540989!5m2!1sru!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                
                
            </div>
        </div>
    </div>

</section>

<footer id="yt_footer" class="block">
    <div class="container">
        <div class="row">
            <div id="yt_copyright" class="col-sm-12">

                <div class="copyright">
                    Mualliflik huquqi © 2025 TATU Samarqand filiali.
                </div>

                <div class="designby ">
                    <a target="_blank" title="RTTM"
                        href="http://127.0.0.1:8000/markaz/raqamli-talim-texnalogiyalari-markazi/">RTTM</a> tamonidan ishlab chiqarilgan
                </div>
<!-- 
                <div class="powered-by"><a href="">Joomla!</a> is Free Software released
                    under the <a href="">GNU General Public License.</a>
                </div> -->

            </div>
        </div>
    </div>

</footer>

<div id="yt_sticky_right" class="yt-slidePanel">
    <div class="yt-sticky">

        <div class="module ">
            <span class="btn-special" title="Ko'rish Sozlamalari"><span class="fa fa-eye"></span></span>
            <div class="box-special">
                <h3>Fon sozlamalari</h3>
                <div class="clearfix">
                    <a href="" id="toggle-black-white" class="btn btn-info"><i class="bi bi-circle-fill" style="color: black;"></i><br>Qora</a>
                    <a href="" id="toggle-original" class="btn btn-info"><i class="bi bi-circle-half"></i><br>Start</a>
                    <a href="" id="toggle-yellow-black" class="btn btn-info"><i class="bi bi-circle" style="color: rgb(255, 136, 0);"></i><br>Sariq</a>
                </div> <hr>
                <h3>Shirft sozlamalari</h3>
                <div class="clearfix">
                    <a href="#" id="small-text" class="btn btn-primary btn-sm">A</a>
                    <a href="#" id="normal-text" class="btn btn-primary btn-lx">A</a>
                    <a href="#" id="large-text" class="btn btn-primary btn-lg">A</a>
                </div>
            </div>
        </div>

        <div class="module ">
            <span class="btn-special" title="Maxsus holatda modulni sozlash uchun"><span
                    class="fa fa-info"></span></span>
            <div class="box-special">
                <h3>For customize module in special position</h3>
                <div class="clearfix">

                    <p>The solution is using Module Class Suffix. You can customize button, module content
                        follow Module Class Suffix</p>
                    <p>E.g. Module Class Suffix: @<strong>bullhorn</strong> then:<br />- Class of button is
                        'fa-<strong>bullhorn</strong>'<strong>. </strong>If without @<strong>... </strong>the
                        default is 'fa-pushpin'</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        var events = 'click';
        YTScript.slidePositions('#yt_sticky_right .yt-sticky', 'right', events);
    });
</script>

<a id="yt-totop" class="backtotop" href="#"><i class="fa fa-angle-up"></i> Yuqori </a>

<script type="text/javascript">
    jQuery('.backtotop').click(function() {
        jQuery('body,html').animate({
            scrollTop: 0
        }, 1200);
        return false;
    });
</script>

<div id="cpanel_wrapper" style="direction:ltr">
    <div class="accordion" id="ytcpanel_accordion">
        <div class="cpanel-head">
            Sozlamalar
            <div class="cpanel-reset">
                <a class="btn btn-info" href="#" onclick="javascript: onCPResetDefault(TMPL_COOKIE);"><i
                        class="fa fa-refresh fa-spin"></i> Qayta tiklash</a>
            </div>
        </div>
        <!--Body-->
        <div class="cpanel-theme">
            <!-- Layouts -->
            <div class="panel-group ">
                <h4 class="panel-heading">Tartib</h4>
                <div class="panel-layout typeLayout">
                    <span data-value="layout-wide" class="layout-item btn " onclick="changeLayout('layout-wide')">Keng</span>
                    <span data-value="layout-boxed" class="layout-item btn " onclick="changeLayout('layout-boxed')">Qutili</span>
                    <span data-value="layout-framed" class="layout-item btn " onclick="changeLayout('layout-framed')">Ramkali</span>
                    <span data-value="layout-rounded" class="layout-item btn " onclick="changeLayout('layout-rounded')">Dumaloq</span>
                </div>
            </div>
        </div>
    </div>
    <div id="cpanel_btn" class="isDown">
        <i class="fa fa-wrench"></i>
    </div>
</div>

<!-- <script>
    // Cookie yoki localStorage orqali layoutni saqlash
    function changeLayout(layout) {
        // Tanlangan layoutni saqlash
        localStorage.setItem('selectedLayout', layout);

        // Bodyga tanlangan classni qo'shish
        document.body.className = layout;

        // Aktiv tugmani yangilash
        document.querySelectorAll('.layout-item').forEach(item => item.classList.remove('active'));
        document.querySelector(`[data-value="${layout}"]`).classList.add('active');
    }

    // Layoutni tiklash
    function resetLayout() {
        // LocalStorage ni tozalash
        localStorage.removeItem('selectedLayout');

        // Standart layoutni qo'llash
        document.body.className = '';
        document.querySelectorAll('.layout-item').forEach(item => item.classList.remove('active'));
        document.querySelector(`[data-value="layout-wide"]`).classList.add('active');
    }

    // Sahifa yuklanganda layoutni tiklash
    document.addEventListener('DOMContentLoaded', () => {
        const savedLayout = localStorage.getItem('selectedLayout');
        if (savedLayout) {
            document.body.className = savedLayout;
            document.querySelectorAll('.layout-item').forEach(item => item.classList.remove('active'));
            document.querySelector(`[data-value="${savedLayout}"]`).classList.add('active');
        } else {
            document.body.className = 'layout-wide';
            document.querySelector(`[data-value="layout-wide"]`).classList.add('active');
        }
    });
</script> -->