{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}
<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}

    <section id="yt_breadcrumb" class="block">
        <div class="container">
            <div class="row">
                <div id="breadcrumb" class="col-sm-12">

                    <div class="module">
                        <div class="modcontent clearfix">

                            <ul class="breadcrumb ">
                                <li class="active"><i class="fa fa-home" rel="tooltip" title="You are here: "></i>
                                </li>
                                <li>
                                    <a href="/" class="pathway">{{menu_text.home}}</a>
                                    <span class="divider">
                                        <img src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" />
                                    </span> 
                                </li>
                                <li class="active"><span>{{menu_text.announcements}}</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="content" class="  no-left  block com_k2">
        <div class="container">
            <div class="row">
                <aside id="content_left" class="col-md-3 col-sm-12 hidden"></aside>
                <div id="content_main" class="col-md-9">
                    <div id="system-message-container">
                    </div>

                    <div id="yt_component">

                        <!-- Start K2 Category Layout -->
                        <div id="k2Container" class="itemListView gridview">
                            <div class="itemListCategoriesBlock">
                                <div class="itemListCategory">
                                    <h2>{{menu_text.announcements}}</h2>
                                </div>

                            </div>
 
                            <!-- Item list -->
                            <div class="itemList">

                                <!-- Leading items -->
                                <div id="itemListLeading">
                                    {% for anno in annos %}
                                    <div class="itemContainer col-sm-12  itemContainerLast">
                                        <div class="catItemView groupLeading">
                                            <div class="catItemImageBlock">
                                                <a href="" title="{{anno.title}}"> 
                                                    <img src="{{anno.get_elon_img}}" alt="{{anno.translated_title}}" style="width: 350px; height: 200px;" />
                                                </a>
                                                <a data-rel="prettyPhoto" href="{{anno.get_elon_img}}" class="zoom_img"></a>
                                                <div class="over-image"></div>
                                            </div>
                                            <div class="main-item">
                                                <div class="catItemHeader">
                                                    <h3 class="catItemTitle">
                                                        <a href="">{{anno.translated_title}}</a>
                                                    </h3>
                                                    <aside class="article-aside">
                                                        <dl class="article-info  muted">
                                                            <dt></dt>
                                                            <dd class="create">{{anno.created_at}}</dd>
                                                            
                                                            <dd class="catItemCategory">
                                                                <a href="">{{menu_text.announcements}}</a>
                                                            </dd>
                                                        </dl>
                                                    </aside>

                                                </div>

                                                <div class="catItemBody">
                                                    <div class="catItemIntroText">
                                                        <p>{{anno.translated_text}}</p>
                                                    </div>

                                                    <div class="clr"></div>
                                                    <div class="clr"></div>
                                                    <div class="catItemReadMore">
                                                        <a class="k2ReadMore button" href="{% url 'elon' anno.id %}"> {{menu_text.more}}</a>
                                                    </div>
                                                    <div class="clr"></div>
                                                </div>

                                            </div>
                                            <div class="clr"></div>

                                            <div class="clr"></div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="pagination">
                                <ul class="pagination">
                                    <!-- Birinchi sahifa tugmasi -->
                                    {% if annos.number != 1 %}
                                        <li>
                                            <a title="First" href="?page=1" class="pagenav"><i class="icon-chevron-left" aria-hidden="true"></i></a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <span class="icon-chevron-left" aria-hidden="true"></span>
                                        </li>
                                    {% endif %}
                                    <!-- Oldingi sahifa tugmasi -->
                                    {% if annos.has_previous %}
                                        <li>
                                            <a title="Previous" href="?page={{ annos.previous_page_number }}" class="pagenav">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <span>
                                                <i class="fa fa-angle-left"></i>
                                            </span>
                                        </li>
                                    {% endif %}
                            
                                    <!-- Sahifa raqamlari -->
                                    {% for page in annos.paginator.page_range %}
                                        {% if page == annos.number %}
                                            <li class="active"><span>{{ page }}</span></li>
                                        {% elif page > annos.number|add:'-3' and page < annos.number|add:'3' %}
                                            <li>
                                                <a title="{{ page }}" href="?page={{ page }}" class="pagenav">{{ page }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                            
                                    <!-- Keyingi sahifa tugmasi -->
                                    {% if annos.has_next %}
                                        <li>
                                            <a title="Next" href="?page={{ annos.next_page_number }}" class="pagenav">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <span>
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </li>
                                    {% endif %}
                            
                                    <!-- Oxirgi sahifa tugmasi -->
                                    {% if annos.paginator.num_pages > 1 and annos.number != annos.paginator.num_pages %}
                                        <li>
                                            <a title="End" href="?page={{ annos.paginator.num_pages }}" class="pagenav"><i class="icon-chevron-right"
                                                aria-hidden="true"></i></a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <span class="icon-chevron-right"
                                                aria-hidden="true"></span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <aside id="content_right" class="col-md-3 col-sm-12">
                    <div id="right" class="col-sm-12">

                        <div class="module k2-categories ">
                            <h3 class="modtitle">{{menu_text.quick_menus}}</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox357" class="k2CategoriesListBlock k2-categories">
                                    <ul class="level0">
                                        {% for quick in quickmmenu %}
                                        <li>
                                            <a href="{{quick.url}}">
                                                <span class="catTitle">{{quick.translated_title}}</span>
                                                <span class="catCounter"></span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="module  module_tabs ">
                            <div class="modcontent clearfix">

                                <div id="moduletabs_11308236401729926773" class="moduletabs top-position clearfix">

                                    <div class="tabs-container">
                                        <ul class="tabs row">
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab selected">{{menu_text.news}}</div>
                                            </li>
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab">{{menu_text.categories}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content-wrap">
                                        <div class="tabs-content">
                                            <div class="tabs-content-inner">
                                                <div class="tab-content selected">

                                                    <div id="k2ModuleBox347" class="k2ItemsBlock k2-content-recent">

                                                        <ul>
                                                            {% for next_post in next_posts %}
                                                            <li class="even">
                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage" href="{% url 'new' pk=next_post.id %}" title="{{next_post.translated_title}}">
                                                                        <img src="{{next_post.get_post_img}}" alt="{{next_post.translated_title}}"  height="50" width="70"/>
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle" href="{% url 'new' pk=next_post.id %}">{{next_post.translated_title}}</a>
                                                                        <span class="moduleItemDateCreated">{{next_post.created_at}}</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="tab-content">

                                                    <div id="k2ModuleBox350"
                                                        class="k2LatestCommentsBlock  tab-comments">

                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        $('#moduletabs_11308236401729926773').jsmart_moduletabs({
                                            sj_module: 'mod_sj_moduletabs',
                                            sj_module_id: '360',
                                            ajax_url: '',
                                            ajaxUpdate: function(element, options) {
                                                var loading = $('.ajax_loading', element);
                                                if (loading.length) {
                                                    // show ajax indicator
                                                    var category_id = $(element).attr('title')
                                                        .replace('sj_module_2load:',
                                                            '');
                                                    ajax_options = {
                                                        sj_module_2load: category_id,
                                                        sj_module_id: options.sj_module_id,
                                                        sj_module: options.sj_module
                                                    };
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: options.ajax_url,
                                                        data: ajax_options,
                                                        success: function(data, status,
                                                            jqXHR) {
                                                            $(element).html(data);
                                                            $(element).data('fx2height',
                                                                $(element).height());
                                                            $(element).attr('title',
                                                            '');
                                                        },
                                                        dataType: 'html'
                                                    });
                                                }
                                            }
                                        });
                                    });
                                </script>

                            </div>
                        </div>

                        <div class="module  tags-k2 ">
                            <h3 class="modtitle">{{menu_text.categories}}</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox362" class="k2TagCloudBlock  tags-k2">
                                    <a href="{% url 'news' %}" style="font-size:100%" title="{{menu_text.news}}">
                                        {{menu_text.news}} </a>
                                    <a href="{% url 'uchrashuvlar' %}" style="font-size:100%" title="{{menu_text.designation}} ">
                                        {{menu_text.designation}} </a>
                                    <a href="{% url 'elonlar' %}" style="font-size:100%" title="{{menu_text.announcements}}">
                                        {{menu_text.announcements}} </a>
                                    <a href="{% url 'matbuat_anjumanlar' %}" style="font-size:100%" title="{{menu_text.press_releases}}">
                                        {{menu_text.press_releases}} </a>
                                    <a href="{% url 'seminarlar' %}" style="font-size:100%" title="{{menu_text.seminars}}">
                                        {{menu_text.seminars}} </a>
                                    <a href="{% url 'davra_suhbatlar' %}" style="font-size:100%" title="{{menu_text.conversations}} ">
                                        {{menu_text.conversations}} </a>
                                    <a href="{% url 'meetings' %}" style="font-size:100%" title="{{menu_text.meetings}}">
                                        {{menu_text.meetings}} </a>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>

    </section>

    {% include 'users/base/settings.html' %}
</div>
{% endblock content %}