{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}
<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}

    <section id="yt_breadcrumb" class="block">
        <div class="container">
            <div class="row">
                <div id="breadcrumb" class="col-sm-12">

                    <div class="module">
                        <div class="modcontent clearfix">

                            <ul class="breadcrumb ">
                                <li class="active"><i class="fa fa-home" rel="tooltip" title="You are here: "></i>
                                </li>
                                <li>
                                    <a href="/" class="pathway">Bosh saxifa</a>
                                    <span class="divider">
                                        <img src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" />
                                    </span>
                                </li>
                                <li>
                                    <span>Yangiliklar</span>
                                    <span class="divider">
                                        <img src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" />
                                    </span>
                                </li>
                                <li class="active"><span>E'lonlar</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="content" class="  no-left  block com_k2">
        <div class="container">
            <div class="row">
                <aside id="content_left" class="col-md-3 col-sm-12 hidden"></aside>
                <div id="content_main" class="col-md-9">
                    <div id="system-message-container">
                    </div>

                    <div id="yt_component">

                        <!-- Start K2 Category Layout -->
                        <div id="k2Container" class="itemListView gridview">
                            <div class="itemListCategoriesBlock">
                                <div class="itemListCategory">
                                    <h2>E'lonlar</h2>
                                </div>

                            </div>

                            <!-- Item list -->
                            <div class="itemList">

                                <!-- Leading items -->
                                <div id="itemListLeading">
                                    {% for anno in annos %}
                                    <div class="itemContainer col-sm-12  itemContainerLast">
                                        <div class="catItemView groupLeading">
                                            <div class="catItemImageBlock">
                                                <a href="" title="{{anno.title}}"> 
                                                    <img src="{{anno.get_elon_img}}" alt="{{anno.title}}" style="width: 350px; height: 200px;" />
                                                </a>
                                                <a data-rel="prettyPhoto" href="{{anno.get_elon_img}}" class="zoom_img"></a>
                                                <div class="over-image"></div>
                                            </div>
                                            <div class="main-item">
                                                <div class="catItemHeader">
                                                    <h3 class="catItemTitle">
                                                        <a href="">{{anno.title}}</a>
                                                    </h3>
                                                    <aside class="article-aside">
                                                        <dl class="article-info  muted">
                                                            <dt></dt>
                                                            <dd class="create">{{anno.created_at}}</dd>
                                                            
                                                            <dd class="catItemCategory">
                                                                <a href="">E'lonlarda</a>
                                                                <span>Chop etilgan</span>
                                                            </dd>
                                                        </dl>
                                                    </aside>

                                                </div>

                                                <div class="catItemBody">
                                                    <div class="catItemIntroText">
                                                        <p>{{anno.text}}</p>
                                                    </div>

                                                    <div class="clr"></div>
                                                    <div class="clr"></div>
                                                    <div class="catItemReadMore">
                                                        <a class="k2ReadMore button" href=""> Batafsil</a>
                                                    </div>
                                                    <div class="clr"></div>
                                                </div>

                                            </div>
                                            <div class="clr"></div>

                                            <div class="clr"></div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="k2Pagination">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a title="2" href="k2-1column0c72.html?start=4" class="pagenav">2</a></li>
                                    <li><a title="3" href="k2-1column14fa.html?start=8" class="pagenav">3</a></li>
                                    <li><a title="Next" href="k2-1column0c72.html?start=4" class="pagenav"><i
                                                class="fa fa-long-arrow-right l-hiden"></i> <i
                                                class="fa fa-long-arrow-left r-hiden"></i></a></li>
                                    <li><a title="End" href="k2-1column14fa.html?start=8" class="pagenav">End</a>
                                    </li>
                                </ul>
                                Page 1 of 3
                            </div>
                        </div>

                    </div>
                </div>
                <aside id="content_right" class="col-md-3 col-sm-12">
                    <div id="right" class="col-sm-12">

                        <div class="module k2-categories ">
                            <h3 class="modtitle">Tezkor menyular</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox357" class="k2CategoriesListBlock k2-categories">
                                    <ul class="level0">
                                        <li><a href=""><span class="catTitle">Fakultetlar</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Kafedralar</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Bo'lim va markazlar</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Abituriyent</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Talabalar</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Ilmiy tadqiqiot faolyati</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Interaktiv xizmatlar</span><span
                                                    class="catCounter"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="module  module_tabs ">
                            <div class="modcontent clearfix">

                                <div id="moduletabs_11308236401729926773" class="moduletabs top-position clearfix">

                                    <div class="tabs-container">
                                        <ul class="tabs row">
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab selected">Yangiliklar</div>
                                            </li>
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab">Kategoriyalar</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content-wrap">
                                        <div class="tabs-content">
                                            <div class="tabs-content-inner">
                                                <div class="tab-content selected">

                                                    <div id="k2ModuleBox347" class="k2ItemsBlock k2-content-recent">

                                                        <ul>
                                                            <li class="even">
                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage" href=""
                                                                        title="Continue reading &quot;Curabitur luctus tortor non quam&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/ea82697ed9755e975f3c7d735db2070c_XS.jpg' %}"
                                                                            alt="Curabitur luctus tortor non quam" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle" href="">Curabitur
                                                                            luctus tortor non quam</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>
                                                                </div>
                                                                <div class="clr"></div>
                                                                <div class="clr"></div>
                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="odd">
                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href=""
                                                                        title="Continue reading &quot;Vivamus dictum pulvinar ipsum&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/873514e130e46a244b5aae0b135db01f_XS.jpg' %}"
                                                                            alt="Vivamus dictum pulvinar ipsum" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="">Vivamus
                                                                            dictum pulvinar ipsum</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>
                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="even">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href=""
                                                                        title="Continue reading &quot;Nullam hendrerit tempus tellus&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/dbe05350458c15fa6c802fb686391131_XS.jpg' %}"
                                                                            alt="Nullam hendrerit tempus tellus" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="">Nullam
                                                                            hendrerit tempus tellus</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="odd lastItem">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href=""
                                                                        title="Continue reading &quot;Curabitur luctus tortor non quam gravida&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/63955aa9869cf7707ada1662dbfb31e2_XS.jpg' %}"
                                                                            alt="Curabitur luctus tortor non quam gravida" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="">Curabitur
                                                                            luctus tortor non quam gravida</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="clearList"></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="tab-content">

                                                    <div id="k2ModuleBox350"
                                                        class="k2LatestCommentsBlock  tab-comments">

                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        $('#moduletabs_11308236401729926773').jsmart_moduletabs({
                                            sj_module: 'mod_sj_moduletabs',
                                            sj_module_id: '360',
                                            ajax_url: '',
                                            ajaxUpdate: function(element, options) {
                                                var loading = $('.ajax_loading', element);
                                                if (loading.length) {
                                                    // show ajax indicator
                                                    var category_id = $(element).attr('title')
                                                        .replace('sj_module_2load:',
                                                            '');
                                                    ajax_options = {
                                                        sj_module_2load: category_id,
                                                        sj_module_id: options.sj_module_id,
                                                        sj_module: options.sj_module
                                                    };
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: options.ajax_url,
                                                        data: ajax_options,
                                                        success: function(data, status,
                                                            jqXHR) {
                                                            $(element).html(data);
                                                            $(element).data('fx2height',
                                                                $(element).height());
                                                            $(element).attr('title',
                                                            '');
                                                        },
                                                        dataType: 'html'
                                                    });
                                                }
                                            }
                                        });
                                    });
                                </script>

                            </div>
                        </div>

                        <div class="module  tags-k2 ">
                            <h3 class="modtitle">Kategoriyalar</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox362" class="k2TagCloudBlock  tags-k2">
                                    <a href="" style="font-size:100%" title="">
                                        Creative </a>
                                    <a href="" style="font-size:100%" title="">
                                        css </a>
                                    <a href="" style="font-size:100%" title="">
                                        HTML5 </a>
                                    <a href="" style="font-size:100%" title="">
                                        joomla </a>
                                    <a href="" style="font-size:100%" title="">
                                        Photoshop </a>
                                    <a href="" style="font-size:100%" title="">
                                        responsive </a>
                                    <a href="" style="font-size:100%" title="">
                                        Text </a>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>>
            </div>
        </div>

    </section>

    {% include 'users/base/settings.html' %}
</div>
{% endblock content %}