{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}

<div class="samtuit-page-wrapper" id="samtuit-page-wrapper">
    <div class="samtuit-blog-title-wrap  samtuit-style-custom samtuit-feature-image" style="background-image: url({% static 'users/img-slider/img-12.jpg' %}) ;">
        <div class="samtuit-header-transparent-substitute"></div>
        <div class="samtuit-blog-title-overlay" style="opacity: 0.01 ;"></div>
        <div class="samtuit-blog-title-bottom-overlay"></div>
        <div class="samtuit-blog-title-container samtuit-container">
            <div class="samtuit-blog-title-content samtuit-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                <header class="samtuit-single-article-head clearfix">
                    <div class="samtuit-single-article-date-wrapper  post-date updated">
                        <div class="samtuit-single-article-date-day">{{ post.created_at|date:"d" }}</div>
                        <div class="samtuit-single-article-date-month">{{ post.created_at|date:"m" }}</div>
                    </div>
                    <div class="samtuit-single-article-head-right">
                        <h1 class="samtuit-single-article-title">{{ post.created_by }}</h1>
                        <div class="samtuit-blog-info-wrapper">
                            <div class="samtuit-blog-info samtuit-blog-info-font samtuit-blog-info-author vcard author post-author "><span class="samtuit-head">By</span><span class="fn"><a href="#" title="Posts by John Smith" rel="author">John Smith</a></span></div>
                            <div class="samtuit-blog-info samtuit-blog-info-font samtuit-blog-info-category "><a href="#" rel="tag">Blog</a><span class="gdlr-core-sep">,</span> <a href="#" rel="tag">Post Format</a></div>
                            <div class="samtuit-blog-info samtuit-blog-info-font samtuit-blog-info-tag "><a href="#" rel="tag">News</a></div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="samtuit-breadcrumbs">
        <div class="samtuit-breadcrumbs-container samtuit-container">
            <div class="samtuit-breadcrumbs-item samtuit-item-pdlr"> <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster." href="/" class="home"><span property="name">Bosh sahifa</span></a>
                <meta property="position" content="1">
                </span>&gt;<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to the Blog category archives." href="{% url 'news' %}" class="taxonomy category"><span property="name">Yangiliklar</span></a>
                <meta property="position" content="2">
                </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">{{ post.title }}</span>
                <meta property="position" content="3">
                </span>
            </div>
        </div>
    </div>
    <div class="samtuit-content-container samtuit-container">
        <div class=" samtuit-sidebar-wrap clearfix samtuit-line-height-0 samtuit-sidebar-style-none">
            <div class=" samtuit-sidebar-center samtuit-column-60 samtuit-line-height">
                <div class="samtuit-content-wrap samtuit-item-pdlr clearfix">
                    <div class="samtuit-content-area">
                        <article id="post-1268" class="post-1268 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-post-format tag-news">
                            <div class="samtuit-single-article clearfix">
                                <div class="samtuit-single-article-content">
                                    {{ post.content|safe }}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gdlr-core-page-builder-body"></div>
    <div class="samtuit-bottom-page-builder-container samtuit-container">
        <div class="samtuit-bottom-page-builder-sidebar-wrap samtuit-sidebar-style-none">
            <div class="samtuit-bottom-page-builder-sidebar-class">
                <div class="samtuit-bottom-page-builder-content samtuit-item-pdlr">
                    <div class="samtuit-single-social-share samtuit-item-rvpdlr">
                        <div class="gdlr-core-social-share-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-social-share-left-text gdlr-core-item-mglr gdlr-core-style-plain" style="padding-bottom: 0px ;">
                            <span class="gdlr-core-social-share-count gdlr-core-skin-title">
                                <span id="share-count-{{ post.id }}" class="gdlr-core-count">{{ post.share_count }}</span>
                                <span class="gdlr-core-suffix">Ulashish</span>
                                <span class="gdlr-core-divider gdlr-core-skin-divider"></span>
                            </span>
                            <span class="gdlr-core-social-share-wrap">
                                <a class="gdlr-core-social-share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" onclick="updateShareCount({{ post.id }})">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="gdlr-core-social-share-telegram" href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank" onclick="updateShareCount({{ post.id }})">
                                    <i class="fa fa-telegram"></i>
                                </a>
                                <a class="gdlr-core-social-share-twitter" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank" onclick="updateShareCount({{ post.id }})">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="samtuit-single-nav-area clearfix">
                        <span class="samtuit-single-nav samtuit-single-nav-left">
                            {% if previous_post %}
                                <a href="{% url 'new' previous_post.id %}" rel="prev">
                                    <i class="arrow_left"></i><span class="samtuit-text">Oldingi</span>
                                </a>
                            {% endif %}
                        </span>
                    
                        <span class="samtuit-single-nav samtuit-single-nav-right">
                            {% if next_post %}
                                <a href="{% url 'new' next_post.id %}" rel="next">
                                    <span class="samtuit-text">Keyingi</span><i class="arrow_right"></i>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    function updateShareCount(postId) {
    fetch(`/share-post/${postId}/`)  // URL ga so'rov yuborish
    .then(response => response.json())  // JSON formatida javob olish
    .then(data => {
        document.getElementById(`share-count-${postId}`).textContent = data.share_count;  // Share sonini yangilash
    })
    .catch(error => console.error('Error:', error));
}
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock content %}