{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}
<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}

    <section id="yt_breadcrumb" class="block">
        <div class="container">
            <div class="row">
                <div id="breadcrumb" class="col-sm-12">

                    <div class="module">
                        <div class="modcontent clearfix">

                            <ul class="breadcrumb ">
                                <li class="active"><i class="fa fa-home" rel="tooltip" title="You are here: "></i>
                                </li>
                                <li>
                                    <a href="/" class="pathway">Bosh saxifa</a>
                                    <span class="divider">
                                        <img src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" />
                                    </span>
                                </li>
                                <li>
                                    <span>Yangiliklar</span>
                                    <span class="divider">
                                        <img src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" />
                                    </span>
                                </li>
                                <li class="active"><span>Yangiliklar</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="content" class="  no-left  block com_content">
        <div class="container">
            <div class="row">
                <aside id="content_left" class="col-md-3 col-sm-12 hidden"></aside>
                <div id="content_main" class="col-md-9">
                    <div id="system-message-container">
                    </div>

                    <div id="yt_component">

                        <div class="blog">
                            <h2 class="heading-category"> 
                                <span class="subheading-category">Yangiliklar</span>
                            </h2>

                            <div class="items-leading row">
                                {% for post in posts %}
                                <div class="item col-sm-6 leading-0">

                                    <figure class="pull-none item-image">

                                        <img src="{{post.get_post_img}}" alt="{{post.title}}"/>
                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dt></dt>
                                                <dd class="createdby" itemprop="author" itemscope
                                                    itemtype="">
                                                    <i class="fa fa-user"></i>
                                                    <span itemprop="name">Super User</span> </dd>

                                                <dt></dt>
                                                <dd class="category-name">
                                                    Category: <a href="" itemprop="genre">Content Category 1</a>
                                                </dd>

                                            </dl>

                                        </aside>
                                    </figure>

                                    <div class="article-text">

                                        <header class="article-header">

                                            <h2>
                                                <a href="">{{post.title}}</a>
                                            </h2>

                                        </header>

                                        <div class="icons">

                                        </div>

                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dd class="create"><i class="ico-clock"></i>{{post.created_at}}</dd>

                                                <dd class="hits"><i class="ico-hits"></i>23744</dd>
                                            </dl>
                                        </aside>

                                        <div class="article-intro">
                                            <p>{{post.text}}</p>
                                        </div>

                                    </div>

                                </div>
                                {% endfor %}
                                <div class="item col-sm-6 leading-1">

                                    <figure class="pull-none item-image">

                                        <img src="{% static 'users/cache/sj_university2/1bd53d1b29d61a81d58fde73f744fc00.jpg' %}"
                                            alt="" />
                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dt></dt>
                                                <dd class="createdby" itemprop="author" itemscope
                                                    itemtype="http://schema.org/Person">
                                                    <i class="fa fa-user"></i>
                                                    <span itemprop="name">Super User</span> </dd>

                                                <dt></dt>
                                                <dd class="category-name">
                                                    Category: <a href="category-blog-2-columns.html"
                                                        itemprop="genre">Content Category 1</a>
                                                </dd>

                                            </dl>

                                        </aside>
                                    </figure>

                                    <div class="article-text">

                                        <header class="article-header">

                                            <h2>
                                                <a href="../single-article.html">
                                                    Aenean vehicula vehicula alicaten</a>
                                            </h2>

                                        </header>

                                        <div class="icons">

                                        </div>

                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dd class="create"><i class="ico-clock"></i>21 May 2020</dd>

                                                <dd class="hits"><i class="ico-hits"></i>6091</dd>
                                            </dl>
                                        </aside>

                                        <div class="article-intro">
                                            <p>Meggings next level yr, 90′s small batch four loko brunch wes
                                                anderson fixie american apparel flexitarian pitchfork neutra.
                                                Constructed in cotton sweat fabric, this lovely piece, lacus eu
                                                mattis auctor, dolor lectus venenatis nullante.</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="item col-sm-6 leading-2">

                                    <figure class="pull-none item-image">

                                        <img src="{% static 'users/cache/sj_university2/526753130cce36c37e370ef698b5b958.jpg' %}"
                                            alt="" />
                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dt></dt>
                                                <dd class="createdby" itemprop="author" itemscope
                                                    itemtype="http://schema.org/Person">
                                                    <i class="fa fa-user"></i>
                                                    <span itemprop="name">Super User</span> </dd>

                                                <dt></dt>
                                                <dd class="category-name">
                                                    Category: <a href="category-blog-2-columns.html"
                                                        itemprop="genre">Content Category 1</a>
                                                </dd>

                                            </dl>

                                        </aside>
                                    </figure>

                                    <div class="article-text">

                                        <header class="article-header">

                                            <h2>
                                                <a href="category-blog-4-columns/85-aliquam-lobortis-cursus-erat.html">
                                                    Aliquam lobortis cursus </a>
                                            </h2>

                                        </header>

                                        <div class="icons">

                                        </div>

                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dd class="create"><i class="ico-clock"></i>21 May 2020</dd>

                                                <dd class="hits"><i class="ico-hits"></i>36241</dd>
                                            </dl>
                                        </aside>

                                        <div class="article-intro">
                                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                                per inceptos himenaeos. Aliquam eget arcu magna, vel congue dui.
                                                Nunc auctor mauris tempor leo aliquam sodales.</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="item col-sm-6 leading-3">

                                    <figure class="pull-none item-image">

                                        <img src="{% static 'users/cache/sj_university2/bda29c5e25b4e25a3dfd94921d4f386f.jpg' %}"
                                            alt="" />
                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dt></dt>
                                                <dd class="createdby" itemprop="author" itemscope
                                                    itemtype="http://schema.org/Person">
                                                    <i class="fa fa-user"></i>
                                                    <span itemprop="name">Super User</span> </dd>

                                                <dt></dt>
                                                <dd class="category-name">
                                                    Category: <a href="category-blog-2-columns.html"
                                                        itemprop="genre">Content Category 1</a>
                                                </dd>

                                            </dl>

                                        </aside>
                                    </figure>

                                    <div class="article-text">

                                        <header class="article-header">

                                            <h2>
                                                <a
                                                    href="category-blog-4-columns/87-ursus-senectus-aliquet-pretium.html">
                                                    Ursus senectus gazen mipan</a>
                                            </h2>

                                        </header>

                                        <div class="icons">

                                        </div>

                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dd class="create"><i class="ico-clock"></i>21 May 2020</dd>

                                                <dd class="hits"><i class="ico-hits"></i>779</dd>
                                            </dl>
                                        </aside>

                                        <div class="article-intro">
                                            <p>Smaraddons Suspendisse at libero porttitor nisi aliquet vulputate
                                                vitae at velit. Aliquam eget arcu magna, vel congue dui. Nunc auctor
                                                mauris tempor leo aliquam vel porta ante sodales. Nulla facilisi. In
                                                accumsan mattis odio vel luctus.</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="item col-sm-6 leading-4">

                                    <figure class="pull-none item-image">

                                        <img src="{% static 'users/cache/sj_university2/de0f8d27d7bd070d04e2e186cb7af4b6.jpg' %}"
                                            alt="" />
                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dt></dt>
                                                <dd class="createdby" itemprop="author" itemscope
                                                    itemtype="http://schema.org/Person">
                                                    <i class="fa fa-user"></i>
                                                    <span itemprop="name">Super User</span> </dd>

                                                <dt></dt>
                                                <dd class="category-name">
                                                    Category: <a href="category-blog-2-columns.html"
                                                        itemprop="genre">Content Category 1</a>
                                                </dd>

                                            </dl>

                                        </aside>
                                    </figure>

                                    <div class="article-text">

                                        <header class="article-header">

                                            <h2>
                                                <a href="category-blog-4-columns/83-mauris-ut-mauris-vel-libero.html">
                                                    Mauris ut mauris gaten mika</a>
                                            </h2>

                                        </header>

                                        <div class="icons">

                                        </div>

                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dd class="create"><i class="ico-clock"></i>21 May 2020</dd>

                                                <dd class="hits"><i class="ico-hits"></i>778</dd>
                                            </dl>
                                        </aside>

                                        <div class="article-intro">
                                            <p>Suspendisse at libero porttitor nisi aliquet vulputate vitae at
                                                velit. Aliquam eget arcu magna, vel congue dui. Nunc auctor mauris
                                                tempor leo aliquam vel porta ante sodales. Nulla facilisi. In
                                                accumsan mattis odio vel luctus.</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="item col-sm-6 leading-5">

                                    <figure class="pull-none item-image">

                                        <img src="{% static 'users/cache/sj_university2/f2efcc9411b6c55d1f99ce421ce47b9e.jpg' %}"
                                            alt="" />
                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dt></dt>
                                                <dd class="createdby" itemprop="author" itemscope
                                                    itemtype="http://schema.org/Person">
                                                    <i class="fa fa-user"></i>
                                                    <span itemprop="name">Super User</span> </dd>

                                                <dt></dt>
                                                <dd class="category-name">
                                                    Category: <a href="category-blog-2-columns.html"
                                                        itemprop="genre">Content Category 1</a>
                                                </dd>

                                            </dl>

                                        </aside>
                                    </figure>

                                    <div class="article-text">

                                        <header class="article-header">

                                            <h2>
                                                <a href="category-blog-4-columns/82-mes-pede-elit-nibh.html">
                                                    Pitren mite hazen sumas kite</a>
                                            </h2>

                                        </header>

                                        <div class="icons">

                                        </div>

                                        <aside class="article-aside">

                                            <dl class="article-info  muted">
                                                <dd class="create"><i class="ico-clock"></i>21 May 2020</dd>

                                                <dd class="hits"><i class="ico-hits"></i>719</dd>
                                            </dl>
                                        </aside>

                                        <div class="article-intro">
                                            <p>Suspendisse at libero porttitor nisi aliquet vulputate vitae at
                                                velit. Aliquam eget arcu magna, vel congue dui. Nunc auctor mauris
                                                tempor leo aliquam vel porta ante sodales. Nulla facilisi. In
                                                accumsan mattis odio vel luctus.</p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a title="2" href="" class="pagenav">2</a></li>
                                    <li><a title="Next" href="" class="pagenav"><i
                                                class="fa fa-long-arrow-right l-hiden"></i> <i
                                                class="fa fa-long-arrow-left r-hiden"></i></a></li>
                                    <li><a title="End" href="" class="pagenav">End</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <aside id="content_right" class="col-md-3 col-sm-12">
                    <div id="right" class="col-sm-12">

                        <div class="module k2-categories ">
                            <h3 class="modtitle">Tezkor menyular</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox357" class="k2CategoriesListBlock k2-categories">
                                    <ul class="level0">
                                        <li><a href=""><span class="catTitle">K2 listing</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Accounting</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Finance</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Management</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Medical</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Art & Design</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href=""><span class="catTitle">Programming</span><span
                                                    class="catCounter"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="module  module_tabs ">
                            <div class="modcontent clearfix">

                                <div id="moduletabs_11308236401729926773" class="moduletabs top-position clearfix">

                                    <div class="tabs-container">
                                        <ul class="tabs row">
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab selected">Recent</div>
                                            </li>
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab">Comments</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content-wrap">
                                        <div class="tabs-content">
                                            <div class="tabs-content-inner">
                                                <div class="tab-content selected">

                                                    <div id="k2ModuleBox347" class="k2ItemsBlock k2-content-recent">

                                                        <ul>
                                                            <li class="even">
                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage" href=""
                                                                        title="Continue reading &quot;Curabitur luctus tortor non quam&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/ea82697ed9755e975f3c7d735db2070c_XS.jpg' %}"
                                                                            alt="Curabitur luctus tortor non quam" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle" href="">Curabitur
                                                                            luctus tortor non quam</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>
                                                                </div>
                                                                <div class="clr"></div>
                                                                <div class="clr"></div>
                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="odd">
                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href=""
                                                                        title="Continue reading &quot;Vivamus dictum pulvinar ipsum&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/873514e130e46a244b5aae0b135db01f_XS.jpg' %}"
                                                                            alt="Vivamus dictum pulvinar ipsum" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="">Vivamus
                                                                            dictum pulvinar ipsum</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>
                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="even">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href=""
                                                                        title="Continue reading &quot;Nullam hendrerit tempus tellus&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/dbe05350458c15fa6c802fb686391131_XS.jpg' %}"
                                                                            alt="Nullam hendrerit tempus tellus" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="">Nullam
                                                                            hendrerit tempus tellus</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="odd lastItem">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href=""
                                                                        title="Continue reading &quot;Curabitur luctus tortor non quam gravida&quot;">
                                                                        <img src="{% static 'users/media/k2/items/cache/63955aa9869cf7707ada1662dbfb31e2_XS.jpg' %}"
                                                                            alt="Curabitur luctus tortor non quam gravida" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="">Curabitur
                                                                            luctus tortor non quam gravida</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div>

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="clearList"></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="tab-content">

                                                    <div id="k2ModuleBox350"
                                                        class="k2LatestCommentsBlock  tab-comments">

                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        $('#moduletabs_11308236401729926773').jsmart_moduletabs({
                                            sj_module: 'mod_sj_moduletabs',
                                            sj_module_id: '360',
                                            ajax_url: '',
                                            ajaxUpdate: function(element, options) {
                                                var loading = $('.ajax_loading', element);
                                                if (loading.length) {
                                                    // show ajax indicator
                                                    var category_id = $(element).attr('title')
                                                        .replace('sj_module_2load:',
                                                            '');
                                                    ajax_options = {
                                                        sj_module_2load: category_id,
                                                        sj_module_id: options.sj_module_id,
                                                        sj_module: options.sj_module
                                                    };
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: options.ajax_url,
                                                        data: ajax_options,
                                                        success: function(data, status,
                                                            jqXHR) {
                                                            $(element).html(data);
                                                            $(element).data('fx2height',
                                                                $(element).height());
                                                            $(element).attr('title',
                                                            '');
                                                        },
                                                        dataType: 'html'
                                                    });
                                                }
                                            }
                                        });
                                    });
                                </script>

                            </div>
                        </div>

                        <div class="module  tags-k2 ">
                            <h3 class="modtitle">K2 Tags</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox362" class="k2TagCloudBlock  tags-k2">
                                    <a href="" style="font-size:100%" title="15 items tagged with Creative">
                                        Creative </a>
                                    <a href="" style="font-size:100%" title="15 items tagged with css">
                                        css </a>
                                    <a href="" style="font-size:100%" title="15 items tagged with HTML5">
                                        HTML5 </a>
                                    <a href="" style="font-size:100%" title="15 items tagged with joomla">
                                        joomla </a>
                                    <a href="" style="font-size:100%" title="15 items tagged with Photoshop">
                                        Photoshop </a>
                                    <a href="" style="font-size:100%" title="15 items tagged with responsive">
                                        responsive </a>
                                    <a href="" style="font-size:100%" title="15 items tagged with Text">
                                        Text </a>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>

    </section>

    {% include 'users/base/settings.html' %}
</div>
{% endblock content %}