{% extends "interaktiv/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container py-4">
  <div class="row">
    {% include "interaktiv/sidebar.html" %}
    <div class="col-lg-9">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img src="{{ users.image }}" alt="Rasm" class="rounded-circle me-3" style="width: 100px; height: 100px; object-fit: cover;">
            <div>
              <h5 class="mb-1">{{ users.full_name }}</h5>
              <p class="text-muted mb-0">{{ users.student_id_number }}</p>
              <span class="badge bg-primary">{{ users.studentStatus.name }}</span>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-md-6">
              <strong>Yo‘nalish:</strong> {{ users.specialty.name }}
            </div>
            <div class="col-md-6">
              <strong>Guruh:</strong> {{ users.group.name }}
            </div>
            <div class="col-md-6">
              <strong>Ta'lim turi:</strong> {{ users.educationType.name }}
            </div>
            <div class="col-md-6">
              <strong>Ta'lim shakli:</strong> {{ users.educationForm.name }}
            </div>
            <div class="col-md-6">
              <strong>To‘lov turi:</strong> {{ users.paymentForm.name }}
            </div>
            <div class="col-md-6">
              <strong>Til:</strong> {{ users.educationLang.name }}
            </div>
            <div class="col-md-6">
              <strong>Kurs:</strong> {{ users.level.name }}
            </div>
            <div class="col-md-6">
              <strong>Semestr:</strong> {{ users.semester.name }}
            </div>
            <div class="col-md-6">
              <strong>GPA:</strong> {{ users.avg_gpa }}
            </div>
          </div>
          <hr>
            <h5 class="mb-3">Grantlarni qayta taqsimlash uchun ariza</h5>

            <form method="post" enctype="multipart/form-data" class="row g-3">
                {% csrf_token %}
                <!-- Forma maydonlari -->
                <div class="col-md-6">
                <label for="new_phone" class="form-label">Telefon raqam</label>
                <input type="tel" name="new_phone" id="new_phone" class="form-control" placeholder="+998901234567" required>
                </div>

                <div class="col-md-6">
                <label for="file" class="form-label">Akaemik ma'lumotnoma (PDF)</label>
                <input type="file" name="file" id="file" class="form-control" accept=".pdf" required>
                </div>

                <div class="col-12 text-end">
                <button type="submit" class="btn btn-success">Arizani yuborish</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
