{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}
<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}
    <section id="yt_breadcrumb" class="block">
        <div class="container">
            <div class="row">
                <div id="breadcrumb" class="col-sm-12">

                    <div class="module   ">
                        <div class="modcontent clearfix">

                            <ul class="breadcrumb ">
                                <li class="active"><i class="fa fa-home" rel="tooltip" title="You are here: "></i>
                                </li>
                                <li><a href="/" class="pathway">{{menu_text.home}}</a><span
                                        class="divider"><img
                                            src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" /></span></li>
                                <li class="active"><span>{{ file.translated_title }}</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div> 
        </div>

    </section>
    <section id="content" class="  no-left no-right block com_content">
    <div class="container">
        <div class="row">
            <aside id="content_left" class="col-md-3 col-sm-12 hidden"></aside>
            <div id="content_main" class="col-sm-12">
                <div id="system-message-container">
                </div>
                <div id="maintop3">
                    <div class="module _menu ">
                        <div class="modcontent clearfix">
                            <ul class="menu  col2">
                                <li class="item-911"><a href="accordion.html">Accordion</a></li>
                                <li class="item-464"><a href="blockquotes.html">Blockquotes</a></li>
                                <li class="item-444"><a href="buttons.html">Buttons</a></li>
                                <li class="item-207"><a href="columns.html">Columns</a></li>
                                <li class="item-912"><a href="divider.html">Divider</a></li>
                                <li class="item-913"><a href="dropcap.html">Dropcap</a></li>
                                <li class="item-914"><a href="gallery.html">Gallery</a></li>
                                <li class="item-915"><a href="google-fonts.html">Google Fonts</a></li>
                                <li class="item-916"><a href="google-maps.html">Google Maps</a></li>
                                <li class="item-917"><a href="helper-shortcodes.html">Helper Shortcodes</a></li>
                                <li class="item-918"><a href="lightbox.html">Lightbox</a></li>
                                <li class="item-919"><a href="lists-style.html">Lists Style</a></li>
                                <li class="item-920"><a href="message-box.html">Message Box</a></li>
                                <li class="item-921"><a href="pricing-tables.html">Pricing Tables</a></li>
                                <li class="item-922"><a href="quick-show.html">Quick show</a></li>
                                <li class="item-923"><a href="icon-fonts.html">Icon Fonts</a></li>
                                <li class="item-924"><a href="slideshow.html">Slideshow</a></li>
                                <li class="item-925"><a href="social-buttons.html">Social Buttons</a></li>
                                <li class="item-926"><a href="syntax-highlighting.html">Syntax Highlighting</a></li>
                                <li class="item-927"><a href="testimonial.html">Testimonial</a></li>
                                <li class="item-928"><a href="togglable-tabs.html">Togglable Tabs</a></li>
                                <li class="item-929"><a href="toggles.html">Toggles</a></li>
                                <li class="item-930"><a href="tooltip.html">Tooltip</a></li>
                                <li class="item-931"><a href="vimeo.html">Vimeo</a></li>
                                <li class="item-932"><a href="youtube.html">Youtube</a></li>
                                <li class="item-934"><a href="carousel.html">Carousel</a></li>
                                <li class="item-935"><a href="test-shortcode.html">test shortcode</a></li>
                                <li class="item-936"><a href="audio.html">Audio mp3</a></li>
                                <li class="item-937"><a href="list-player.html">List player</a></li>
                                <li class="item-1009"><a href="our-skills.html">Our Skills</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="yt_component">
                    <article class="item-page">
                        <header class="article-header">
                            <h2>
                                <a href="short-codes.html">
                                    Shortcodes <span class="title-color"></span>
                                </a>
                            </h2>
                        </header>
                        <aside class="article-aside">
                            <dl class="article-info">

                                <dd class="create">
                                    <span class="fa fa-clock-o"></span>
                                    <time datetime="2020-05-21T22:44:01+00:00">
                                        21 May 2020 </time>
                                </dd>

                                <dd class="createdby" itemprop="author" itemscope=""
                                    itemtype="http://schema.org/Person">
                                    <span class="fa fa-user"></span>
                                    <span itemprop="name">Super User</span> </dd>

                                <dd class="category-name">
                                    Category: <a href="short-codes/9-explore.html" itemprop="genre">Explore</a> </dd>

                                <dd class="hits">
                                    <span class="icon-eye-open"></span>
                                    <meta itemprop="interactionCount" content="UserPageVisits:2753">
                                    Hits: 2753 </dd>

                            </dl>
                        </aside>

                        <div style="text-align: center;"><a
                                href="http://www.smartaddons.com/joomla/extensions/commercial-extensions/item/564-yt-shortcode-joomla-plugin"
                                target="_blank"><img src="../images/bonus_page/shortcode.jpg" alt="">&nbsp;</a></div>
                        <div style="clear:both; height:20px;"></div>
                        <div style="text-align: center;">
                            <a class="btn btn-default btn-flat inverse"
                                style="border-radius: 3px; display: inline-block;"
                                href="http://demo.smartaddons.com/extensions/yt-shortcode/index.php" target="_blank"
                                data-placement="" title=""><i class=""></i> View all example YT Shortcode </a>
                        </div>
                        <p>The shortcodes supports users to make content for web pages. In Joomla administrator, Yt
                            Shortcodes button will be appeared below the text-area, you can choose shortcodes for the
                            text-area to make content. We will show <strong>bonus pages</strong> for sample in some
                            templates using shortcodes from now.</p>
                        <p class="text-error"><strong>Note:</strong> Shortcodes only works in <strong>detail</strong>
                            article (joomla! content, k2 content), custom html module.</p>
                        <p><strong>YT Shortcode User-guide:</strong></p>
                        <p>Let's go to <a style="color: #0291ff;"
                                href="http://smartaddons.s3.amazonaws.com/images/userguide/Yt-Shortcodes/index.html"
                                target="blank">here</a> for reading full help documentation of YT Shortcode Plugin</p>

                        <ul class="pager pagenav">
                            <li class="previous">
                                <a class="hasTooltip" title="Module Variations"
                                    aria-label="Previous article: Module Variations"
                                    href="explore/module-variations.html" rel="prev">
                                    <span class="icon-chevron-left" aria-hidden="true"></span> <span
                                        aria-hidden="true">Prev</span> </a>
                            </li>
                            <li class="next">
                                <a class="hasTooltip" title="Features" aria-label="Next article: Features"
                                    href="short-codes/9-explore/128-features.html" rel="next">
                                    <span aria-hidden="true">Next</span> <span class="icon-chevron-right"
                                        aria-hidden="true"></span> </a>
                            </li>
                        </ul>

                    </article>

                </div>
            </div>
            <aside id="content_right" class="col-md-3 col-sm-12 hidden"></aside>
        </div>
    </div>

</section>
    {% include 'users/base/settings.html' %}
</div>
{% endblock content %}