{% extends 'users/base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %} 

<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}
   

    <section id="yt_spotlight1" class="block">
        <div class="container">
            <div class="row">
                <div id="slideshow" class="col-sm-12">
                    <div id="sj_k2slickslider346" class="sj-k2slickslider  slide slickslider-right"
                        data-interval="5000" data-pause="hover" >
                        <div class="slickslider-items bg-style1">
                            <div class="slickslider-item item clearfix active">
                                <div class="images-slideshow">
                                    <img alt="rasm"
                                        src="{% static 'users/images/image.jpg' %}" />
                                </div>
                            </div>
                            {% for picture in pictures %}
                            <div class="slickslider-item item clearfix">
                                <div class="images-slideshow" >
                                    <img alt="{{ picture.get_silder_img }}"
                                        src="{{ picture.get_silder_img }}" />
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="nav-pagination conner-tl bg-style1">
                            <a class="left" href="#sj_k2slickslider346" data-jslide="prev">
                                 <span class="over-row"></span>
                            </a>
                            <a class="right" href="#sj_k2slickslider346" data-jslide="next">
                                 <span class="over-row"></span>
                            </a>
                        </div>
                        <div class="pag-item">
                            <a class=" sel" href="#sj_k2slickslider346" data-jslide="0">1</a>
                            <a class=" " href="#sj_k2slickslider346" data-jslide="1">2</a>
                            <a class=" " href="#sj_k2slickslider346" data-jslide="2">3</a>
                            <a class=" " href="#sj_k2slickslider346" data-jslide="3">4</a>
                            <a class=" " href="#sj_k2slickslider346" data-jslide="4">5</a>
                        </div>
                    </div>

                    <script> 					
                        jQuery(document).ready(function($) {
                            $('#sj_k2slickslider346').each(function() {
                                var $this = $(this),
                                    options = options = !$this.data('modal') && $.extend({}, $this.data());
                                $this.jcarousel(options);
                                $this.bind('jslide', function(e) {
                                    var index = $(this).find(e.relatedTarget).index();
                                    $('[data-jslide]').each(function() {
                                        var $nav = $(this),
                                            $navData = $nav.data(),
                                            href, $target = $($nav.attr('data-target') || (href = $nav
                                                .attr('href')) && href.replace(/.*(?=#[^\s]+$)/, ''));
                                        if (!$target.is($this)) return;
                                        if (typeof $navData.jslide == 'number' && $navData.jslide ==
                                            index) {
                                            $nav.addClass('sel');
                                        } else {
                                            $nav.removeClass('sel');
                                        }
                                    });
                                });
                                $this.touchSwipeLeft(function() {
                                    $this.jcarousel('next');
                                });
                                $this.touchSwipeRight(function() {
                                    $this.jcarousel('prev');
                                });
                            });
                            return;
                        });	
                    </script>

                </div>
            </div>
        </div>

    </section> 

    <section id="yt_spotlight2" class="block">
        <div class="container-fluid">
            <div class="row">
            <div id="top3" class="col-sm-12">
                <div class="module categories-ii">
                <div class="modcontent clearfix">
                    <div class="sj_category theme4">
                    <div class="category-grid">

                        <div class="category-box">
                        <a href="https://new.samtuit.uz/fakultetlar/">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/kafedra.png' %}" alt="Fakultetlar" />
                        </a>
                        <h3 class="title">
                            <a href="https://new.samtuit.uz/fakultetlar/">{{ menu_text.faculties }}</a>
                        </h3>
                        <p class="desc">{{ menu_text.facultie_text }}</p>
                        </div>

                        <div class="category-box">
                        <a href="https://new.samtuit.uz/kafedralar/">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/fakultet.png' %}" alt="Kafedralar" />
                        </a>
                        <h3 class="title">
                            <a href="https://new.samtuit.uz/kafedralar/">{{ menu_text.departments }}</a>
                        </h3>
                        <p class="desc">{{ menu_text.department_text }}</p>
                        </div>

                        <div class="category-box">
                        <a href="https://new.samtuit.uz/markazlar/">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/bolim.png' %}" alt="Bo‘limlar" />
                        </a>
                        <h3 class="title">
                            <a href="https://new.samtuit.uz/markazlar/">{{ menu_text.centers }}</a>
                        </h3>
                        <p class="desc">{{ menu_text.center_text }}</p>
                        </div>

                        <div class="category-box">
                        <a href="https://my.mehnat.uz/login">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/bos_ish.png' %}" alt="Bo'sh ish o‘rinlari" />
                        </a>
                        <h3 class="title">
                            <a href="https://my.mehnat.uz/login">{{ menu_text.vacancies }}</a>
                        </h3>
                        <p class="desc">{{ menu_text.vacancie_text }}</p>
                        </div>

                        <div class="category-box">
                        <a href="https://new.samtuit.uz/views/about/order-of-admission/">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/abuturent.png' %}" alt="Abituriyentlar" />
                        </a>
                        <h3 class="title">
                            <a href="https://new.samtuit.uz/views/about/order-of-admission/">{{ menu_text.applicant }}</a>
                        </h3>
                        <p class="desc">{{ menu_text.applicant_text }}</p>
                        </div>

                        <div class="category-box">
                        <a href="https://new.samtuit.uz/views/about/instructions/">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/student.png' %}" alt="Talabalar" />
                        </a>
                        <h3 class="title">
                            <a href="https://new.samtuit.uz/views/about/instructions/">{{ menu_text.students }}</a>
                        </h3>
                        <p class="desc">{{ menu_text.student_text }}</p>
                        </div>

                        <div class="category-box">
                        <a href="https://new.samtuit.uz/views/about/instructions/">
                            <img src="{% static 'users/cache/mod_sj_k2_categories_ii/student.png' %}" alt="Talabalar" />
                        </a>
                        <h3 class="title">
                            <a href="{% url 'student' %}">Interaktiv xizmatlar</a>
                        </h3>
                        <!-- <p class="desc">{{ menu_text.student_text }}</p> -->
                        </div>

                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>


    <section id="yt_spotlight5" class="block">
        <div class="container">
            <div class="row">
                <div id="top7" class="col-lg-8 col-sm-12">

                    <div class="module  k2-mega-new-main ">
                        <h3 class="modtitle">{{ menu_text.breanch_news }}</h3>
                        <div class="modcontent clearfix">
                            <div id="sj_meganew_13006638141729926732" class="sj-meganew ">
                                <div
                                    class="meganew-wrap  meganew-rps01-1 meganew-rps02-1 meganew-rps03-1 meganew-rps04-1">
                                    <div class="meganew-box">
                                        <div class="meganew-box-inner">
                                            <div class="meganew-items theme1 ">
                                                <div class="item-first">

                                                    <div class="item-image">
                                                        <a href="{% url 'new' pk=post_one.id %}" title="{{ post_one.translated_title }}">
                                                            <img src="{{post_one.get_post_img}}" alt="{{post_one.get_post_img}}" height="250"/>
                                                        </a>
                                                        <div class="over-image"></div>
                                                    </div>
                                                    <div class="content-main">
                                                        <div class="item-title">
                                                            <a href="{% url 'new' pk=post_one.id %}" title="{{ post_one.translated_title }}">{{ post_one.translated_title }}</a>
                                                        </div>
                                                        <ul class="by-date">
                                                            <!-- <li class="athor"><span>Post by</span>&nbsp;</li> -->
                                                            <!-- <li>&ndash;</li> -->
                                                            <li class="time-ago">{{post_one.created_at}}</li>
                                                        </ul>
                                                        <div class="item-description">{{ post_one.translated_text }}</div>

                                                        <div class="item-readmore">
                                                            <a href="{% url 'new' pk=post_one.id %}"
                                                                title="{{ post_one.translated_title }}">
                                                                <i class="fa fa-check"></i><span>{{ menu_text.more }}</span>
                                                            </a>
                                                        </div>
                                                    </div><!-- end content-main-->
                                                </div>
                                                <div class="item-other">

                                                    <ul class="otehr-link">
                                                        {% for post in post_three %}
                                                        <li class="row">
                                                            <a href="{% url 'new' pk=post.id %}"
                                                                class="col-xs-7"
                                                                title="{{post.translated_title}}">{{post.translated_title}}</a>
                                                            <ul class="by-date col-xs-5">
                                                                <li class="time-ago">{{post.created_at}}</li>
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="top8" class="col-lg-4 col-sm-12">

                    <div class="module  ">
                        <h3 class="modtitle">{{ menu_text.wisdom }}</h3>
                        <div class="modcontent clearfix">

                            <script type="text/javascript">
                               
                                jQuery(document).ready(function($) {
                                   
                                    $('#sj_accordion_17299267321842936974').sj_accordion({
                                        items: '.acd-item',
                                        heading: '.acd-header',
                                        content: '.acd-content-wrap',
                                        active_class: 'selected',
                                        event: 'click',
                                        delay: 200,
                                        duration: 500,
                                        active: '1'
                                    });
                                    var height_content = function() {
                                        $('.acd-item', '#sj_accordion_17299267321842936974').each(function() {
                                            var inner = $('.acd-content-wrap-inner', $(this).filter('.selected'));
                                            if (inner.length) {
                                                var inner_height = inner.height();
                                                inner.parent().css('height', inner_height);
                                            }
                                        });
                                    }
                                    if ($.browser.msie && parseInt($.browser.version, 10) <= 8) {} else {
                                        $(window).resize(function() {
                                            height_content();
                                        });
                                    }
                                });
                                //]]>	
                            </script>
                            <div id="sj_accordion_17299267321842936974" class="sj-accordion">
                                <div class="acd-items">
                                    {% for wisdom in wisdoms %}
                                    <div class="acd-item">
                                        <div class="acd-header">{{wisdom.translated_title}} </div>
                                        <div class="acd-content-wrap ">
                                            <div class="acd-content-wrap-inner ">

                                                <div class="acd-description">{{wisdom.translated_text}}</div>

                                                <div class="acd-readmore">
                                                    <a href=""
                                                        title="{{wisdom.translated_title}}">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="yt_spotlight4" class="block">
        <div class="container">
            <div class="row">
                <div id="top6" class="col-sm-12">

                    <div class="module  extra-upcoming-slider ">
                        <h3 class="modtitle"> {{menu_text.announcements_and_events}}</h3>
                        <div class="modcontent clearfix">
                            <div id="sjextraslider_1821092771729926732"
                                class="sj-extraslider slide  extra-resp01-3 extra-resp02-3 extra-resp03-1 extra-resp04-1"
                                data-interval="0" data-pause="hover">

                                <div class="extraslider-inner">
                                    <div class="item active">
                                        <div class="line">
                                            {% for anno in annos %}
                                            <div class="item-wrap style2">
                                                <div class="item-wrap-inner">
                                                    <div class="item-image">
                                                        <img src="{{anno.get_elon_img}}"
                                                            alt="{{anno.title}}" style="height: 20em;"/>
                                                        <!-- <div class="time-image">
                                                            <div class="item-created">
                                                                <span>{{anno.day.day}}</span>
                                                                <span>{{anno.day|date:"F"}}</span>
                                                                <span>{{anno.day.year}}</span>
                                                            </div>
                                                            <div class="event-time">
                                                                <span class="start-time">
                                                                    {{anno.start_time}}
                                                                </span>
                                                                <span class="end-time">
                                                                    {{anno.end_time}}
                                                                </span> 
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-title">
                                                            <a href="{% url 'elon' anno.id %}" title="Zatena mipan facen timas chumas">{{anno.translated_title|truncatechars:70}}</a>
                                                        </div>
                                                        <div class="school">
                                                            <!-- <a href="{% url 'elon' anno.id %}">{{anno.translated_title}}</a>
                                                            <p>{{anno.build}}</p> -->
                                                        </div>

                                                        <div class="item-content">
                                                            <div class="item-description">{{anno.translated_text|truncatechars:70}}</div>
                                                            <div class="item-readmore">
                                                                <a href="{% url 'elon' anno.id %}"
                                                                    title="Zatena mipan facen timas chumas">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!--line-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section  class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="itemVideoBlock">
                        <div class="itemVideoEmbedded">
                            <iframe style="width: 100%; height: 500px;" src="https://www.youtube.com/embed/kiqljm5Iru0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="yt_spotlight3" class="block">
        <div class="container">
            <div class="row">
                <div id="top4" class="col-lg-12 col-sm-12 ">
                    <br>
                    <div class="module  k2-slider-style-one ">
                        <h3 class="modtitle">{{menu_text.our_partners}}</h3>
                        <div class="modcontent clearfix">
                            <div id="sj_k2_slider_210936539417299267323" class="sj-k2-container-slider" >

                                <div class="page-button top style">
                                    <ul class="control-button preload">
                                        <li class="preview"><i class="fa fa-chevron-left"></i></li>
                                        <li class="next"><i class="fa fa-chevron-right"></i></li>
                                    </ul>
                                </div>

                                <div class="slider not-js cols-6 preset01-3 preset02-3 preset03-1 preset04-1 preset05-1">
                                    <div class="vpo-wrap">
                                        <div class="vp">
                                            <div class="vpi-wrap">
                                                {% for partner in partners %}
                                                <div class="item" style="height: 200px; width: 200px;">
                                                    <div class="item-wrap">

                                                        <div class="item-img item-height">
                                                            <div class="item-img-info">
                                                                <a href="{{partner.link}}">
                                                                    <img alt="{{partner.name}}" src="{{partner.get_hamk_img}}" style="height: 100px;"/>
                                                                </a>
                                                                <div class="over-image"></div>
                                                            </div>
                                                        </div>

                                                        <div class="item-info  ">
                                                            <div class="item-inner">
                                                                <div class="item-title">
                                                                    <a href="{{partner.link}}" title="Batafsil ">{{partner.name}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <script type="text/javascript">
                                jQuery(document).ready(function($) {
                                    ;
                                    (function(element) {
                                        var $element = $(element);
                                        var $slider = $('.slider', $element)
                                        $('.slider', $element).responsiver({
                                            interval: 0,
                                            speed: 1000,
                                            start: 0,
                                            step: 1,
                                            circular: true,
                                            preload: true,
                                            fx: 'slide',
                                            pause: 'hover',
                                            control: {
                                                prev: '#sj_k2_slider_210936539417299267323 .control-button li[class="preview"]',
                                                next: '#sj_k2_slider_210936539417299267323 .control-button li[class="next"]'
                                            },
                                            getColumns: function(element) {
                                                var match = $(element).attr('class').match(/cols-(\d+)/);
                                                if (match[1]) {
                                                    var column = parseInt(match[1]);
                                                } else {
                                                    var column = 1;
                                                }
                                                if (!column) column = 1;
                                                return column;
                                            }
                                        });
                                        $slider.touchSwipeLeft(function() {
                                            $slider.responsiver('next');
                                        });
                                        $slider.touchSwipeRight(function() {
                                            $slider.responsiver('prev');
                                        });
                                        $('.control-button', $element).removeClass('preload');
                                    })('#sj_k2_slider_210936539417299267323');
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    
    <section id="yt_spotlight6" class="block">
        <div class="container">
            <div class="row">
                <div id="top10" class="col-sm-12">
                    <div class="module  style-me-scattered ">
                        <div class="modcontent clearfix">
                            <div id="sj_scatteredgallery_9882068411750824721376" class="sj-sg-gallery ">
                                <section id="sg_photostack_376" class="sg-photostack  photostack-start "style="height: 500px;">
                                    <div class="sg-container">
                                        {% for student in students %}
                                        <figure>
                                            <a title="{{student.frist_name}}">
                                                <img src="{{student.get_student_img}}" alt="{{student.frist_name}}" title="{{student.frist_name}}" />
                                            </a>
                                            <figcaption>
                                                <div class="sg-title">
                                                    <a title="{{student.frist_name}}">{{student.frist_name}} {{student.last_name}} <br>
                                                    <span>{{student.candidate}}</span></a>
                                                </div>
                                                <div class="sg-back"><div class="sg-back-inner"></div></div>
                                            </figcaption>
                                        </figure>
                                        {% endfor %}
                                    </div>
                                    <div class="buttom-click" style="line-height: 500px; "><span>{{menu_text.our_pride}}</span> </div>
                                    <nav>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </nav>
                                </section>
                            </div>

                            <script type="text/javascript">
                                var tag_id = document.getElementById('sj_scatteredgallery_9882068411750824721376');
                                new Photostack(tag_id.querySelector('#sg_photostack_376'), {
                                    callback: function(item) {}
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'users/base/settings.html' %}

</div>

{% endblock content %}
