{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}
<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}
    <section id="yt_breadcrumb" class="block">
        <div class="container">
            <div class="row">
                <div id="breadcrumb" class="col-sm-12">

                    <div class="module   ">
                        <div class="modcontent clearfix">

                            <ul class="breadcrumb ">
                                <li class="active"><i class="fa fa-home" rel="tooltip" title="You are here: "></i>
                                </li>
                                <li><a href="/" class="pathway">{{menu_text.home}}</a><span
                                        class="divider"><img
                                            src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" /></span></li>
                                <li class="active"><span>{{conversation.translated_title}}</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section id="content" class="  no-left  block com_content">
        <div class="container">
            <div class="row">
                <aside id="content_left" class="col-md-3 col-sm-12 hidden"></aside>
                <div id="content_main" class="col-md-9">
                    <div id="system-message-container">
                    </div>

                    <div id="yt_component">
                        <article class="item-page">

                            <header class="article-header">
                                <h2><a href=""><span class="title-color">{{conversation.translated_title}}</span></a></h2>
                            </header>

                            <aside class="article-aside">
                                <dl class="article-info">

                                    <dd class="create">
                                        <span class="fa fa-clock-o"></span>
                                        <time datetime="2020-05-21T22:44:01+00:00">{{conversation.created_at}}</time>
                                    </dd>

                                    <dd class="createdby" itemprop="author" itemscope
                                        itemtype="">
                                        <span class="fa fa-user"></span>
                                        <span itemprop="name">{{conversation.created_by}}</span> </dd>

                                    <dd class="category-name">
                                        {{menu_text.categories}}: <a href=""
                                            itemprop="genre">{{menu_text.news}}</a> </dd>

                                    <dd class="hits">
                                        <span class="icon-eye-open"></span>
                                        <meta itemprop="interactionCount" content="UserPageVisits:6092" />
                                        <span class="fa fa-eye"></span> 6092 </dd>

                                </dl>
                            </aside>

                            <a id="startOfPage"></a>                                
                            {{conversation.translated_content|safe}}
                           
                            <ul class="pager pagenav">
                                {% if previous_conversation %}
                                <li class="previous">
                                    <a class="hasTooltip" title="Faucibus eu laoreet nunc"
                                        aria-label="Previous article: Faucibus eu laoreet nunc"
                                        href="{% url 'davra_suhbat' previous_conversation.id %}"
                                        rel="prev">
                                        <span class="icon-chevron-left" aria-hidden="true"></span> <span
                                            aria-hidden="true">{{menu_text.previous_post}}</span> </a>
                                </li>
                                {% else %}
                                {% endif %}
                                {% if next_conversation %}
                                <li class="next">
                                    <a class="hasTooltip" title="Aliquam lobortis cursus "
                                        aria-label="Next article: Aliquam lobortis cursus "
                                        href="{% url 'davra_suhbat' next_conversation.id %}"
                                        rel="next">
                                        <span aria-hidden="true">{{menu_text.next_post}}</span> <span class="icon-chevron-right"
                                            aria-hidden="true"></span> </a>
                                </li>
                                {% else %}
                                {% endif %}
                            </ul>

                        </article>

                    </div>
                </div>
                <aside id="content_right" class="col-md-3 col-sm-12">
                    <div id="right" class="col-sm-12">

                        <div class="module k2-categories ">
                            <h3 class="modtitle">{{menu_text.quick_menus}}</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox357" class="k2CategoriesListBlock k2-categories">
                                    <ul class="level0">
                                        {% for quick in quickmmenu %}
                                        <li>
                                            <a href="{{quick.url}}">
                                                <span class="catTitle">{{quick.translated_title}}</span>
                                                <span class="catCounter"></span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="module  module_tabs ">
                            <div class="modcontent clearfix">

                                <div id="moduletabs_11308236401729926773" class="moduletabs top-position clearfix">

                                    <div class="tabs-container">
                                        <ul class="tabs row">
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab selected">{{menu_text.news}}</div>
                                            </li>
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab">{{menu_text.categories}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content-wrap">
                                        <div class="tabs-content">
                                            <div class="tabs-content-inner">
                                                <div class="tab-content selected">

                                                    <div id="k2ModuleBox347" class="k2ItemsBlock k2-content-recent">

                                                        <ul>
                                                            {% for next_post in next_posts %}
                                                            <li class="even">
                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage" href="{% url 'new' pk=next_post.id %}" title="{{next_post.translated_title}}">
                                                                        <img src="{{next_post.get_post_img}}" alt="{{next_post.translated_title}}"  height="50" width="70"/>
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle" href="{% url 'new' pk=next_post.id %}">{{next_post.translated_title}}</a>
                                                                        <span class="moduleItemDateCreated">{{next_post.created_at}}</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="tab-content">

                                                    <div id="k2ModuleBox350"
                                                        class="k2LatestCommentsBlock  tab-comments">

                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        $('#moduletabs_11308236401729926773').jsmart_moduletabs({
                                            sj_module: 'mod_sj_moduletabs',
                                            sj_module_id: '360',
                                            ajax_url: '',
                                            ajaxUpdate: function(element, options) {
                                                var loading = $('.ajax_loading', element);
                                                if (loading.length) {
                                                    // show ajax indicator
                                                    var category_id = $(element).attr('title')
                                                        .replace('sj_module_2load:',
                                                            '');
                                                    ajax_options = {
                                                        sj_module_2load: category_id,
                                                        sj_module_id: options.sj_module_id,
                                                        sj_module: options.sj_module
                                                    };
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: options.ajax_url,
                                                        data: ajax_options,
                                                        success: function(data, status,
                                                            jqXHR) {
                                                            $(element).html(data);
                                                            $(element).data('fx2height',
                                                                $(element).height());
                                                            $(element).attr('title',
                                                            '');
                                                        },
                                                        dataType: 'html'
                                                    });
                                                }
                                            }
                                        });
                                    });
                                </script>

                            </div>
                        </div>

                        <div class="module  tags-k2 ">
                            <h3 class="modtitle">{{menu_text.categories}}</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox362" class="k2TagCloudBlock  tags-k2">
                                    <a href="{% url 'news' %}" style="font-size:100%" title="{{menu_text.news}}">
                                        {{menu_text.news}} </a>
                                    <a href="{% url 'uchrashuvlar' %}" style="font-size:100%" title="{{menu_text.designation}} ">
                                        {{menu_text.designation}} </a>
                                    <a href="{% url 'elonlar' %}" style="font-size:100%" title="{{menu_text.announcements}}">
                                        {{menu_text.announcements}} </a>
                                    <a href="{% url 'matbuat_anjumanlar' %}" style="font-size:100%" title="{{menu_text.press_releases}}">
                                        {{menu_text.press_releases}} </a>
                                    <a href="{% url 'seminarlar' %}" style="font-size:100%" title="{{menu_text.seminars}}">
                                        {{menu_text.seminars}} </a>
                                    <a href="{% url 'davra_suhbatlar' %}" style="font-size:100%" title="{{menu_text.conversations}} ">
                                        {{menu_text.conversations}} </a>
                                    <a href="{% url 'meetings' %}" style="font-size:100%" title="{{menu_text.meetings}}">
                                        {{menu_text.meetings}} </a>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>

    </section>
    {% include 'users/base/settings.html' %}
</div>
{% endblock content %}