{% extends 'users/base/base.html' %}
{% load static %}
{% block content %}
<div id="yt_wrapper" class="layout-wide">

    {% include 'users/base/navbar.html' %}
    <section id="yt_breadcrumb" class="block">
        <div class="container">
            <div class="row">
                <div id="breadcrumb" class="col-sm-12">

                    <div class="module   ">
                        <div class="modcontent clearfix">

                            <ul class="breadcrumb ">
                                <li class="active"><i class="fa fa-home" rel="tooltip" title="You are here: "></i>
                                </li>
                                <li><a href="/" class="pathway">Bosh saxifa</a><span
                                        class="divider"><img
                                            src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" /></span></li>
                                <li><span>Yangiliklar</span><span class="divider"><img
                                            src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" /></span></li>
                                <li><a href="{% url 'news' %}" class="pathway">Yangiliklar</a><span
                                        class="divider"><img
                                            src="{% static 'users/templates/sj_university2/images/system/arrow.png' %}"
                                            alt="" /></span></li>
                                <li class="active"><span>Yangilik</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section id="content" class="  no-left  block com_content">
        <div class="container">
            <div class="row">
                <aside id="content_left" class="col-md-3 col-sm-12 hidden"></aside>
                <div id="content_main" class="col-md-9">
                    <div id="system-message-container">
                    </div>

                    <div id="yt_component">
                        <article class="item-page">

                            <header class="article-header">
                                <h2><a href=""><span class="title-color">{{post.title}}</span></a></h2>
                            </header>

                            <aside class="article-aside">
                                <dl class="article-info">

                                    <dd class="create">
                                        <span class="fa fa-clock-o"></span>
                                        <time datetime="2020-05-21T22:44:01+00:00">{{post.created_at}}</time>
                                    </dd>

                                    <dd class="createdby" itemprop="author" itemscope
                                        itemtype="">
                                        <span class="fa fa-user"></span>
                                        <span itemprop="name">Super User</span> </dd>

                                    <dd class="category-name">
                                        Category: <a href=""
                                            itemprop="genre">Content Category 1</a> </dd>

                                    <dd class="hits">
                                        <span class="icon-eye-open"></span>
                                        <meta itemprop="interactionCount" content="UserPageVisits:6092" />
                                        Hits: 6092 </dd>

                                </dl>
                            </aside>

                            <figure class="img-fulltext pull-none">
                                <a href="" title="">
                                    <img src="{{post.get_post_img}}" alt="" /> </a>
                            </figure>

                            <div class="tags">
                                <span class="tag-4 tag-list0">
                                    <a href="" class="label label-info">
                                        SJ-Plus </a>
                                </span>&nbsp;
                                <span class="tag-5 tag-list1">
                                    <a href="" class="label label-info">
                                        Responsive </a>
                                </span>&nbsp;
                                <span class="tag-6 tag-list2">
                                    <a href="" class="label label-info">
                                        Design </a>
                                </span>&nbsp;
                            </div>


                            <a id="startOfPage"></a>
                            {{post.content}}
                            <div>
                                <p>Meggings next level yr, 90′s small batch four loko brunch wes anderson fixie american
                                    apparel flexitarian pitchfork neutra. Constructed in cotton sweat fabric, this
                                    lovely piece, lacus eu mattis auctor, dolor lectus venenatis nullante.</p>
    
                                <div class="image">Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                    per inceptos himenaeos. Aenean fringilla laoreet mauris lectus pellentesque eu.
                                </div>
                                <div style='clear:both; height:20px;'></div>
                                <h3>Lorem ipsum dolor sit amet Class aptent</h3>
                                <ul class="yt-list type-check" style="color:#6B82A2">
                                    <li><span><span style="color: #999999;">Me and my girlfriend stayed here last year
                                                and it was great.</span> </span></li>
                                    <li><span><span style="color: #999999;">We grew fast to appreciate this place even
                                                more ow that we have tried Sanctuary Cap Cana.</span></span></li>
                                    <li><span><span style="color: #999999;">Secrets The Vine was a gorgeous place to
                                                stay, period lorem ipsum dolor sit amet!</span> </span></li>
                                </ul>
                                <h3>Constructed in cotton sweat fabric</h3>
                                <p>Meggings next level yr, 90′s small batch four loko brunch wes anderson fixie american
                                    apparel flexitarian pitchfork neutra. Constructed in cotton sweat fabric, this
                                    lovely piece, lacus eu mattis auctor, dolor lectus venenatis nullante.</p>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                    himenaeos. Aenean fringilla laoreet mauris lectus pellentesque eu.</p>
                                <div class="notice">Suspendisse blandit ligula turpis, ac convallis risus fermentum non.
                                    Duis vestibulum quis nisl quam vel accumsan. Nunc a vulputate lectus. Vestib ulum
                                    eleifendsed massa sagittis vestibulum.</div>
                                <p>Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio. Phasellus dolor
                                    enim, faucibus egestas scelerisque hendrerit, aliquet sed lorem celerisque commodo
                                    odio. Phasellus dolor enim, faucibus egestas scelerisque hendrerit, aliquet sed
                                    lorem auris rhoncus pretium porttitor. Cras scelerisque commodo odio. Phasellus
                                    dolor enim, faucibus egestas scelerisque hendrerit, aliquet sed lorem</p>
                                
                            </div>
                           
                            <ul class="pager pagenav">
                                <li class="previous">
                                    <a class="hasTooltip" title="Faucibus eu laoreet nunc"
                                        aria-label="Previous article: Faucibus eu laoreet nunc"
                                        href=""
                                        rel="prev">
                                        <span class="icon-chevron-left" aria-hidden="true"></span> <span
                                            aria-hidden="true">Oldingi</span> </a>
                                </li>
                                <li class="next">
                                    <a class="hasTooltip" title="Aliquam lobortis cursus "
                                        aria-label="Next article: Aliquam lobortis cursus "
                                        href=""
                                        rel="next">
                                        <span aria-hidden="true">Keyingi</span> <span class="icon-chevron-right"
                                            aria-hidden="true"></span> </a>
                                </li>
                            </ul>

                        </article>

                    </div>
                </div>
                <aside id="content_right" class="col-md-3 col-sm-12">
                    <div id="right" class="col-sm-12">

                        <div class="module k2-categories ">
                            <h3 class="modtitle">Categories</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox357" class="k2CategoriesListBlock k2-categories">
                                    <ul class="level0">
                                        <li><a href="../../k2/k2-categories/k2-1column.html"><span
                                                    class="catTitle">K2 listing</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href="../../k2-listing/itemlist/category/99-accounting.html"><span
                                                    class="catTitle">Accounting</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href="../../k2-listing/itemlist/category/100-finance.html"><span
                                                    class="catTitle">Finance</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href="../../k2-listing/itemlist/category/107-management.html"><span
                                                    class="catTitle">Management</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href="../../k2-listing/itemlist/category/108-medical.html"><span
                                                    class="catTitle">Medical</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href="../../k2-listing/itemlist/category/109-art-design.html"><span
                                                    class="catTitle">Art & Design</span><span
                                                    class="catCounter"></span></a></li>
                                        <li><a href="../../k2/itemlist/category/126-programming.html"><span
                                                    class="catTitle">Programming</span><span
                                                    class="catCounter"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="module  module_tabs ">
                            <div class="modcontent clearfix">

                                <div id="moduletabs_15875248111729926777" class="moduletabs top-position clearfix">

                                    <div class="tabs-container">
                                        <ul class="tabs row">
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab selected">Recent</div>
                                            </li>
                                            <li class="col-sm-6 col-xs-6">
                                                <div class="tab">Comments</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content-wrap">
                                        <div class="tabs-content">
                                            <div class="tabs-content-inner">
                                                <div class="tab-content selected">

                                                    <div id="k2ModuleBox347" class="k2ItemsBlock k2-content-recent">

                                                        <ul>
                                                            <li class="even">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href="../../k2-listing/item/294-curabitur-luctus-tortor-non-quam.html"
                                                                        title="Continue reading &quot;Curabitur luctus tortor non quam&quot;">
                                                                        <img src="../../../media/k2/items/cache/ea82697ed9755e975f3c7d735db2070c_XS.jpg"
                                                                            alt="Curabitur luctus tortor non quam" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="../../k2-listing/item/294-curabitur-luctus-tortor-non-quam.html">Curabitur
                                                                            luctus tortor non quam</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div><!-- end main-->

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="odd">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href="../../k2-listing/item/293-vivamus-dictum-pulvinar-ipsum.html"
                                                                        title="Continue reading &quot;Vivamus dictum pulvinar ipsum&quot;">
                                                                        <img src="../../../media/k2/items/cache/873514e130e46a244b5aae0b135db01f_XS.jpg"
                                                                            alt="Vivamus dictum pulvinar ipsum" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="../../k2-listing/item/293-vivamus-dictum-pulvinar-ipsum.html">Vivamus
                                                                            dictum pulvinar ipsum</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div><!-- end main-->

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="even">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href="../../k2-listing/item/292-nullam-hendrerit-tempus-tellus.html"
                                                                        title="Continue reading &quot;Nullam hendrerit tempus tellus&quot;">
                                                                        <img src="../../../media/k2/items/cache/dbe05350458c15fa6c802fb686391131_XS.jpg"
                                                                            alt="Nullam hendrerit tempus tellus" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="../../k2-listing/item/292-nullam-hendrerit-tempus-tellus.html">Nullam
                                                                            hendrerit tempus tellus</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div><!-- end main-->

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="odd lastItem">

                                                                <div class="moduleItemIntrotext">
                                                                    <a class="moduleItemImage"
                                                                        href="../../k2-listing/item/291-curabitur-luctus-tortor-non-quam-gravida.html"
                                                                        title="Continue reading &quot;Curabitur luctus tortor non quam gravida&quot;">
                                                                        <img src="../../../media/k2/items/cache/63955aa9869cf7707ada1662dbfb31e2_XS.jpg"
                                                                            alt="Curabitur luctus tortor non quam gravida" />
                                                                    </a>
                                                                    <div class="main">
                                                                        <a class="moduleItemTitle"
                                                                            href="../../k2-listing/item/291-curabitur-luctus-tortor-non-quam-gravida.html">Curabitur
                                                                            luctus tortor non quam gravida</a>
                                                                        <span class="moduleItemDateCreated">Apr 20,
                                                                            2015</span>
                                                                    </div><!-- end main-->

                                                                </div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>

                                                                <div class="clr"></div>
                                                            </li>
                                                            <li class="clearList"></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="tab-content">

                                                    <div id="k2ModuleBox350"
                                                        class="k2LatestCommentsBlock  tab-comments">

                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    //<![CDATA[
                                    jQuery(document).ready(function($) {
                                        $('#moduletabs_15875248111729926777').jsmart_moduletabs({
                                            sj_module: 'mod_sj_moduletabs',
                                            sj_module_id: '360',
                                            ajax_url: 'https://demo.smartaddons.com/templates/joomla3/sj-universityii/index.php/joomla-pages-2/blog-joomla/single-article',
                                            ajaxUpdate: function(element, options) {
                                                var loading = $('.ajax_loading', element);
                                                if (loading.length) {
                                                    // show ajax indicator
                                                    var category_id = $(element).attr('title').replace('sj_module_2load:',
                                                    '');
                                                    ajax_options = {
                                                        sj_module_2load: category_id,
                                                        sj_module_id: options.sj_module_id,
                                                        sj_module: options.sj_module
                                                    };
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: options.ajax_url,
                                                        data: ajax_options,
                                                        success: function(data, status, jqXHR) {
                                                            $(element).html(data);
                                                            $(element).data('fx2height', $(element).height());
                                                            $(element).attr('title', '');
                                                        },
                                                        dataType: 'html'
                                                    });
                                                }
                                            }
                                        });
                                    });
                                    //]]>
                                </script>

                            </div>
                        </div>

                        <div class="module  tags-k2 ">
                            <h3 class="modtitle">K2 Tags</h3>
                            <div class="modcontent clearfix">

                                <div id="k2ModuleBox362" class="k2TagCloudBlock  tags-k2">
                                    <a href="../../component/k2/itemlist/tag/Creative.html" style="font-size:100%"
                                        title="15 items tagged with Creative">
                                        Creative </a>
                                    <a href="../../component/k2/itemlist/tag/css.html" style="font-size:100%"
                                        title="15 items tagged with css">
                                        css </a>
                                    <a href="../../component/k2/itemlist/tag/HTML5.html" style="font-size:100%"
                                        title="15 items tagged with HTML5">
                                        HTML5 </a>
                                    <a href="../../component/k2/itemlist/tag/joomla.html" style="font-size:100%"
                                        title="15 items tagged with joomla">
                                        joomla </a>
                                    <a href="../../component/k2/itemlist/tag/Photoshop.html" style="font-size:100%"
                                        title="15 items tagged with Photoshop">
                                        Photoshop </a>
                                    <a href="../../k2/k2-tags.html" style="font-size:100%"
                                        title="15 items tagged with responsive">
                                        responsive </a>
                                    <a href="../../component/k2/itemlist/tag/Text.html" style="font-size:100%"
                                        title="15 items tagged with Text">
                                        Text </a>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>

    </section>
    {% include 'users/base/settings.html' %}
</div>
{% endblock content %}